<div class="card no-border" *ngIf="poolDataLoaded === false">
  <div class="spinner">
    <mat-spinner [diameter]="250" [strokeWidth]="10"></mat-spinner>
  </div>
</div>

<div class="card"
  *ngIf="poolDataLoaded === true"
  [class.accelerate]="poolData.exists && poolData.started && (poolData.endTime | timeStampIsPast)"
  [class.end]="poolData.exists && poolData.started && !(poolData.endTime | timeStampIsPast)"
>
  <p class="title">{{'crafting.step' + step + '.pool' + pool | translate}}</p>

  <ng-template #emptyPool>
    <p class="empty" *ngIf="step !== 1; else emptyPoolStep1">
      <span style="display: block; margin: 15px;">{{'crafting.emptyPool1' | translate}}</span>
      <span style="display: block; margin: 15px; font-size: 0.8rem; line-height: 1em;">{{'crafting.emptyPool2' | translate}}</span>
    </p>
  </ng-template>

  <div class="disabled-pool" *ngIf="step === 1 && poolData.isLocked === true && userCraftedAmounts && userCraftedAmounts['tier' + pool] < poolData.requiredCrafts">
    <div class="text">
      <p class="info">{{'crafting.lockedCrafter' | translate}}</p>
      <p>{{('crafting.minimumCrafts' | translate).replace('***', tier - 1) }}</p>
      <p class="value">{{ poolData.requiredCrafts }}</p>
      <p>{{'crafting.craftsDone' | translate}}</p>
      <p class="value" *ngIf="userCraftedAmounts">{{ userCraftedAmounts['tier' + pool] }}</p>
    </div>
  </div>

  <ng-container *ngIf="step === 1 || poolData.exists === true; else emptyPool">
    <div class="settings">
      <div *ngIf="step === 1" class="creation">
        <app-crafting-step1-creation [pool]="pool" [poolData]="poolData" (dataEvent)="receiveDataStep1($event)"></app-crafting-step1-creation>
      </div>
      <div *ngIf="step === 2">
        <app-crafting-step2-styling [pool]="pool" [poolData]="poolData" [poolPrice]="poolPrice" [poolPriceInGQ]="poolPriceInGQ" (dataEvent)="receiveDataStep2($event)"></app-crafting-step2-styling>
      </div>
      <div *ngIf="step === 3">
        <app-crafting-step3-assembly [pool]="pool" [poolData]="poolData" (dataEvent)="receiveDataStep3($event)"></app-crafting-step3-assembly>
      </div>
    </div>

    <div class="materials" *ngIf="itemData">
      <div class="step" *ngFor="let st of materialCost[itemData.item]['t' + itemData.tier] | keyvalue; let i = index">
        <p class="name">{{'crafting.' + (steps[i] | lowercase) | translate}}:</p>

        <ng-container *ngIf="poolData.exists === true && poolData.started && step === (i + 1); else notStartedStep">
          <div class="material finished" [class.processing]="poolData.exists && (poolData.endTime | timeStampIsPast)">
            <p [class.remaining]="poolData.exists && (poolData.endTime | timeStampIsPast)">
              <span *ngIf="poolData.exists && (poolData.endTime | timeStampIsPast)">{{'crafting.remaining' | translate}}:</span>
              <app-countdown [end]="poolData.endTime" (countdownEndedEvent)="receiveCounterData($event)"></app-countdown>
            </p>
          </div>
        </ng-container>

        <ng-template #notStartedStep>
          <ng-container *ngIf="step <= (i + 1); else completedStep">
            <div class="material" *ngFor="let mat of st.value | keyvalue">
              <img src="assets/images/crafting/materials/{{mat.key | lowercase}}.png" class="icon">
              <p class="value" [class.three-cols]="discounts.cost > 0">
                <span>{{mat.key | materialToTicker}}: </span>
                <span [class.reduced]="discounts.cost > 0">{{mat.value}}</span>
                <span *ngIf="discounts.cost > 0"> {{mat.value - (mat.value * (discounts.cost / 100))}}</span>
              </p>
              <p class="available" [class.enough]="checkIfMaterialIsEnough((userMaterials[mat.key].amount | fromWei), (mat.value - (mat.value * (discounts.cost / 100))))">{{userMaterials[mat.key].amount | fromWei | number:'1.0-4'}}</p>
            </div>
          </ng-container>
        </ng-template>

        <ng-template #completedStep>
          <div class="material finished">
            <p>{{'crafting.stageCompleted' | translate}}</p>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="extra">
      <ng-container *ngIf="(step === 3 && poolData.tier !== 3 && step3Booster === 5) || poolData.started === true; else prices">
        <p style="color: transparent;">.</p>
      </ng-container>
      <ng-template #prices>
        <p *ngIf="poolPrice !== '' && poolPrice !== '0' && poolData.started === false">{{('crafting.priceStep' + step | translate).replace('***', (poolPrice | number:'1.0-4'))}}</p>
        <p *ngIf="poolPriceInGQ !== '' && poolPriceInGQ !== '0' && poolData.started === false" class="approx">{{'(' + ('crafting.approxInGQ' | translate).replace('***', (poolPriceInGQ | number:'1.0-4') ) + ')'}}</p>
        <p *ngIf="(poolPrice === '' || poolPrice === '0') && poolData.started === false">{{('crafting.priceFreeStep' + step | translate)}}</p>
        <p *ngIf=" craftingStartFee !== '' && poolData.started === false && step === 1" style="font-size: 0.7rem; font-weight: 300;"><i>{{("crafting.craftingStartFee" | translate).replace('***', (craftingStartFee | number:'1.0-4'))}}</i></p>
      </ng-template>
    </div>

    <div class="buttons">
      <ng-container *ngIf="poolData.started === false">
        <div class="button" *ngIf="nextStepAllowed && step === 1" (click)="startCreation()">{{'crafting.startStep' + step | translate}}</div>
        <div class="button" *ngIf="nextStepAllowed && step === 2" (click)="startStyling()">{{'crafting.startStep' + step | translate}}</div>
        <div class="button" *ngIf="nextStepAllowed && step === 3 && !(poolData.tier !== 3 && step3Booster === 5)" (click)="startAssembly()">{{'crafting.startStep' + step | translate}}</div>

        <div class="button get-resources" *ngIf="!nextStepAllowed || (poolData.tier !== 3 && step3Booster === 5)" (click)="openGetMaterialsDialog()">{{'crafting.missingMaterials' | translate}}</div>
      </ng-container>
      <ng-container *ngIf="poolData.started === true">
        <div class="button" *ngIf="poolData.endTime | timeStampIsPast" (click)="accelerateProcess()">{{'crafting.accelerateStep' + step | translate}}</div>
        <div class="button" *ngIf="!(poolData.endTime | timeStampIsPast)" (click)="endProcess()">{{'crafting.endStep' + step | translate}}</div>
      </ng-container>
    </div>
  </ng-container>
</div>
