<div class="head-common">
  <app-defi-select-header class="sel" [type]="id"></app-defi-select-header>
  <app-defi-header class="sel-defi" [type]="id"></app-defi-header>
</div>
<div class="frame-option">
  <div class="options">
    <div class="options-group1">
      <div>
        <mat-icon (click)="setFile('grid')">grid_on</mat-icon>
        <mat-icon *ngIf="file" (click)="setFile('row')">table_rows</mat-icon></div>
      <div *ngIf="id=='pools'">
        <input class="tgl tgl-light" id="cb1" type="checkbox" (change)="enableOnlyNotEnded()"/>
        <label class="tgl-btn" for="cb1"></label>
      </div>
      <div *ngIf="isConnected">
        <div  class="switch">
          <input id="checkbox1" class="look" type="checkbox"  (change)="enableOnlyStaked()"
          >
          <label for="checkbox1"></label>
          <span class="stake-tex">{{ 'defi.common.staked-only' | translate }}</span>
        </div>

      </div>
    </div>
    <div class="options-group1" *ngIf="id=='pools'">
      <!-- <div><input type="text" class="filter-input" placeholder="Filter" (keyup)="applyFilter($event)"></div> -->
      <button [matMenuTriggerFor]="menuPools" class="button-menu">{{ 'defi.common.Select' | translate }}<mat-icon class="icon">keyboard_arrow_down</mat-icon></button>
    </div>
    <div class="options-group1" *ngIf="id=='farms'">
      <button [matMenuTriggerFor]="menuFarms" class="button-menu">{{ 'defi.common.Select' | translate }}<mat-icon class="icon">keyboard_arrow_down</mat-icon></button>
    </div>
      <mat-menu #menuPools="matMenu" class="menu-select">
        <button mat-menu-item (click)="sortData('all')">{{ 'defi.common.All' | translate }}</button>
        <button mat-menu-item (click)="sortData('GQ-GQ')">{{ 'defi.common.GQ-GQ' | translate }}</button>
        <button mat-menu-item (click)="sortData('galactic')">{{ 'Galactic Alliance' | translate }}</button>
        <button mat-menu-item (click)="sortData('LP')">{{ 'LP stake' | translate }}</button>
      </mat-menu>

      <mat-menu #menuFarms="matMenu" class="menu-select">
        <button mat-menu-item (click)="sortData('all')">{{ 'defi.common.All' | translate }}</button>
        <button mat-menu-item (click)="sortData('copper')">{{ 'defi.common.Copper' | translate }}</button>
        <button mat-menu-item (click)="sortData('iron')">{{ 'defi.common.Iron' | translate }}</button>
      </mat-menu>

  </div>
  </div>
<app-farms [stakedActive]="stakedActive" [sorted]="sorted" *ngIf="id == 'farms'"></app-farms>
<app-pools [mode]="mode" [typeOfPool]="typeOfPool" [endBlock]="actualBlock" [sorted]="sorted" *ngIf="id == 'pools'"></app-pools>
