@import "/src/styleVariables.scss";

.img {
  height: 19rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 8rem 2rem 0rem 1rem;
  color: $white;
  &-pools {
    background-image: url("/assets/images/defi/farms-header.png");
  }
}
.tip {
  font-weight: 300;
  font-size: 1em;
}
.head-title {
  max-width: 700px;
  font-size: 5em;
  line-height: 1em;
  font-weight: 700;
}
.subtitle {
  width: 100%;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.3em;
}
.btns {
  display: none;
  // position: relative;
  // height: 2rem;
  // .absa {
  //   position: absolute;
  //   bottom: 0;

  //   .btn-header {
  //     padding: 0.5rem 2rem;
  //     color: $blue-extra-light;
  //     font-weight: 500;
  //     background: $blue-medium;
  //     border: none;
  //     border-radius: 10px 10px 0px 0px;
  //     margin-right: 1rem;
  //     min-width: 6rem;
  //     &:hover {
  //       color: $white;
  //       font-weight: 700;
  //       background: $green-light;
  //       padding: 0.7rem 2rem 0.5rem 2rem;
  //       transition: all 300ms;
  //     }
  //   }
  // }
}

@media screen and (min-width: 445px) {
.img{
height: 16rem;
}
}

@media screen and (min-width: 675px) {
.img{
height: 14rem;
}
}

@media screen and (min-width: 800px) {
  .img{
height: auto;
}
  .btns {
    display: block;
    position: relative;
    height: 2rem;
    .absa {
      position: absolute;
      bottom: 0;

      .btn-header {
        padding: 0.5rem;
        color: $blue-extra-light;
        font-weight: 500;
        background: $blue-medium;
        border: none;
        border-radius: 10px 10px 0px 0px;
        margin-right: 1rem;
        width: 6rem;
        &:hover {
          color: $white;
          font-weight: 700;
          background: $green-light;
          padding: 0.7rem 0.5rem 0.5rem 0.5rem;
          transition: all 300ms;
        }
      }
    }
  }



  .subtitle {
    max-width: 600px;
  }
  .img {
    background-size: 100%;
    padding: 8rem 2rem 0rem 4rem;
  }
}
