.to-top-arrow {
  cursor: pointer;
  position: fixed;
  z-index: 5;
  bottom: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  transform: translateY(60px);
  transition: transform 1s ease-in-out;

  &.shown {
    transform: translateY(-100px);
    transition: transform 1s ease-in-out;
  }
}
