<div class="top-image">
  <img src="assets/images/item_background.png" alt="NFT Detail background image" />
</div>
<!-- DATA LOADING SPINNER -->
<div class="data-loading" *ngIf="loadingData">
  <div class="spinner">
    <mat-spinner [diameter]="300" [strokeWidth]="10"></mat-spinner>
  </div>
</div>

<div class="not-or-nft" *ngIf="!isOrNft">
  <p>{{'nft.notOrNft' | translate}}</p>
</div>

<div class="back-arrow">
  <div class="arrow" (click)="goToPreviousPage()">
    <mat-icon class="icon">arrow_left</mat-icon>
    <span>BACK</span>
  </div>
</div>

<div class="nft-detail" *ngIf="!loadingData">

  <!-- LEFTSIDE IMAGE -->
  <div class="leftside">
    <div class="image" *ngIf="!nftData.animation_url || nftData.animation_url === ''">
      <img src="{{nftData.image}}" alt="NFT image" />
    </div>

    <div class="image" *ngIf="nftData.animation_url && nftData.animation_url !== ''">
      <video playsinline autoplay="true" muted="true" loop="true" id="autoplay">
        <source src="{{nftData.animation_url}}" type="video/mp4">
      </video>
    </div>

    <!-- <div class="price-history nft-detail-block">
      <h2 class="title">
        {{'nft.priceHistory' | translate}}
        <mat-icon class="switcher" (click)="toggleData(0)">keyboard_arrow_down</mat-icon>
      </h2>
      <div class="price-history-list" [class.hidden]="!showPriceHistory">
        <p>Data</p>
        <p>of</p>
        <p>price</p>
        <p>history</p>
      </div>
    </div> -->
  </div>

  <div class="rightside">
    <!-- NAME DATA AND COLLECTION -->
    <div class="nft-title nft-detail-block">
      <p class="name">
        {{nftData.name}}
        <span *ngIf="nftData.tier">{{' ' + (nftData.tier | slice:0:4) + ' ' + (nftData.tier | slice:4)}}</span></p>
      <p class="collection">{{'nft.collection' | translate}}: {{nftData.collection}}</p>
    </div>
    <!-- IMAGE ON RESPONSIVE -->
    <div class="responsive-image nft-detail-block">
      <div class="image" *ngIf="!nftData.animation_url || nftData.animation_url === ''">
        <img src="{{nftData.image}}" alt="NFT image" />
      </div>

      <div class="image" *ngIf="nftData.animation_url && nftData.animation_url !== ''">
        <video playsinline autoplay="true" muted="true" loop="true" id="autoplay">
          <source src="{{nftData.animation_url}}" type="video/mp4">
        </video>
      </div>
    </div>
    <!-- PRICES -->
    <div class="variable nft-detail-block" *ngIf="buyPrice !== '0'">
      <!-- Price showing for regular sale -->
      <div class="price" *ngIf="saleType === 'sell'">
        <p class="tip">{{'nft.sellPrice' | translate}}</p>
        <div class="price-data">
          <mat-icon class="icon">local_offer</mat-icon>
          <p class="value">{{buyPrice | number: '1.2-4'}} {{buyCoin}} <span class="conversion" *ngIf="buyCoin !== 'BUSD'">= {{priceInBUSD | number: '1.0-2'}} BUSD</span></p>
        </div>
        <p class="last-bid" *ngIf="nftSaleData.nftHighestBidder">*{{ 'nft.lastBidBy' | translate }} {{nftSaleData.nftHighestBidder | shortWallet}}</p>
      </div>
      <!-- Price showing for auction -->
      <div class="price" *ngIf="saleType === 'english'">
        <p class="tip">{{'nft.nextBidPrice' | translate}}</p>
        <div class="price-data">
          <mat-icon class="icon">local_offer</mat-icon>
          <p class="value">{{nextBidPrice | number: '1.2-4'}} {{buyCoin}} <span class="conversion" *ngIf="buyCoin !== 'BUSD'">= {{priceInBUSD | number: '1.0-2'}} BUSD</span></p>
        </div>
        <p class="last-bid">*{{ 'nft.initialPrice' | translate }} {{initialPrice | number: '1.0-4'}} {{buyCoin}}</p>
      </div>
    </div>
    <!-- ACTION BUTTONS -->
    <div class="actions" *ngIf="activeUser[0] === nftOwner || activeUser[0] === nftSaleData.nftSeller">
      <div class="action seller" *ngIf="activeUser[0] && activeUser[0] !== ''">
        <!-- Buttons when NFT not in sale/auction -->
        <p class="button" (click)="putOnSale()" *ngIf="buyPrice === '0' && saleType === 'none'">{{'nft.button.putOnSale' | translate}}</p>
        <p class="button" (click)="putOnAuction()" *ngIf="buyPrice === '0' && saleType === 'none'">{{'nft.button.putOnAuction' | translate}}</p>
        <p class="button" (click)="directTransfer()" *ngIf="buyPrice === '0' && saleType === 'none'">{{'nft.button.directTransfer' | translate}}</p>
        <!-- Buttons when user NFT in sale -->
        <p class="button" (click)="removeFromSale()" *ngIf="buyPrice !== '0' && saleType === 'sell'">{{'nft.button.removeFromSale' | translate}}</p>
        <p class="button" (click)="setPrice()" *ngIf="buyPrice !== '0' && saleType === 'sell'">{{'nft.button.setPrice' | translate}}</p>
        <!-- Buttons when user NFT auction ended -->
        <p class="not-sold" *ngIf="saleType === 'english' && auctionEnded && nftSaleData.nftHighestBidder === zeroAddress">*{{ 'nft.notSold' | translate }}</p>
        <p class="button" (click)="withdrawAuction()" *ngIf="saleType === 'english' && auctionEnded && nftSaleData.nftHighestBidder === zeroAddress">{{'nft.button.withdrawAuction' | translate}}</p>
        <p class="not-sold" *ngIf="saleType === 'english' && auctionEnded && nftSaleData.nftHighestBidder !== zeroAddress">*{{ 'nft.itemSold' | translate }}</p>
        <p class="button" (click)="withdrawAuction()" *ngIf="saleType === 'english' && auctionEnded && nftSaleData.nftHighestBidder !== zeroAddress">{{'nft.button.finishAuction' | translate}}</p>
        <!-- Buttons when user NFT in auction -->
        <p class="button disabled" *ngIf="saleType === 'english' && !auctionEnded">{{'nft.button.isOnAuction' | translate}}</p>
      </div>
    </div>
    <!-- WALLET CONNECT BUTTON -->
    <div class="actions" *ngIf="activeUser[0] !== nftOwner">
      <div class="action seller" *ngIf="activeUser[0] === '' || !activeUser[0]">
        <p class="button" (click)="connectWallet()">{{'nft.button.connectWallet' | translate}}</p>
      </div>
    </div>
    <!-- AUCTION DETAILS -->
    <div class="bid nft-detail-block" *ngIf="saleType === 'english'">
      <div class="current" *ngIf="nftSaleData.nftHighestBidder !== zeroAddress">
        <p class="tip">{{'nft.lastBid' | translate}}</p>
        <p class="value">{{buyPrice | number: '1.0-4'}} {{buyCoin}} <span class="conversion" *ngIf="buyCoin !== 'BUSD'">= {{priceInBUSD | number: '1.0-2'}} BUSD</span></p>
        <p class="bidder" *ngIf="nftSaleData.nftHighestBidder" [routerLink]="['/profile']" [queryParams]="{wallet: nftSaleData.nftHighestBidder}">{{'nft.by' | translate}} {{nftSaleData.nftHighestBidder | shortWallet}}</p>
      </div>
      <div class="current" *ngIf="nftSaleData.nftHighestBidder === zeroAddress">
        <p class="tip">{{'nft.noBids' | translate}}</p>
        <p class="value">{{initialPrice | number: '1.0-4'}} {{buyCoin}} <span class="conversion" *ngIf="buyCoin !== 'BUSD'">= {{priceInBUSD | number: '1.0-2'}} BUSD</span></p>
      </div>
      <div class="countdown">
        <p class="tip">{{'nft.countdown' | translate}}</p>
        <p class="value"><app-countdown [end]="nftSaleData.auctionEnd" (countdownEndedEvent)="receiveData($event)"></app-countdown></p>
      </div>
    </div>
    <!-- AUCTION ACTION BUTTONS -->
    <div class="actions" *ngIf="activeUser[0] && activeUser[0] !== nftOwner && activeUser[0] !== '' && activeUser[0] !== nftSaleData.nftSeller && nftSaleData.nftSeller != zeroAddress">
      <div class="action buyer">
        <p class="button" *ngIf="saleType === 'english' && !auctionEnded" (click)="bidOnAuctionAuto()">{{'nft.button.bidAuto' | translate}}</p>
        <p class="button" *ngIf="saleType === 'english' && !auctionEnded" (click)="bidOnAuctionCustom()">{{'nft.button.bidCustom' | translate}}</p>
        <p class="button" *ngIf="saleType === 'sell'" (click)="buyNft('')">{{'nft.button.buy' | translate}}</p>
        <p class="button" *ngIf="saleType === 'sell'" (click)="buyAsGift()">{{'nft.button.buyAsGift' | translate}}</p>

        <p class="sold" *ngIf="saleType === 'english' && auctionEnded && nftSaleData.nftHighestBidder === activeUser[0]">*{{ 'nft.sold' | translate }}</p>
        <p class="button" (click)="withdrawAuction()" *ngIf="saleType === 'english' && auctionEnded && nftSaleData.nftHighestBidder === activeUser[0]">{{'nft.button.withdrawAuction' | translate}}</p>
      </div>
    </div>
    <!-- DESCRIPTION -->
    <div class="about nft-detail-block" [class.hidden]="!showAbout">
      <h2 class="title">
        <mat-icon class="icon">list</mat-icon>
        {{'nft.aboutItem' | translate}}
        <mat-icon class="switcher" (click)="toggleData(1)">keyboard_arrow_down</mat-icon>
      </h2>
      <p>{{nftData.description}}</p>
      <div class="utilities" *ngIf="(tokenType | lowercase) === 'land'">
        <p class="">{{'lands.home.utilities.utilitiesOf' | translate }} {{nftData.size + ' Land'}}:</p>
        <ul>
          <li>{{'lands.home.utilities.' + (nftData.size | lowercase) + '.ut1' | translate }}</li>
          <li>{{'lands.home.utilities.' + (nftData.size | lowercase) + '.ut2' | translate }}</li>
          <li>{{'lands.home.utilities.' + (nftData.size | lowercase) + '.ut3' | translate }}</li>
          <li *ngIf="nftData.size === 'Micro' || nftData.size === 'Standard' || nftData.size === 'Macro' || nftData.size === 'Mega'">{{'lands.home.utilities.' + (nftData.size | lowercase) + '.ut4' | translate }}</li>
          <li *ngIf="nftData.size === 'Standard' || nftData.size === 'Macro' || nftData.size === 'Mega'">{{'lands.home.utilities.' + (nftData.size | lowercase) + '.ut5' | translate }}</li>
          <li *ngIf="nftData.size === 'Standard' || nftData.size === 'Macro' || nftData.size === 'Mega'">{{'lands.home.utilities.' + (nftData.size | lowercase) + '.ut6' | translate }}</li>
          <li *ngIf="nftData.size === 'Mega'">{{'lands.home.utilities.' + (nftData.size | lowercase) + '.ut7' | translate }}</li>
        </ul>
      </div>
    </div>
    <!-- OWNERSHIP DATA -->
    <div class="property nft-detail-block">
      <div *ngIf="saleType === 'none' && nftOwner" class="owner" [routerLink]="['/profile']" [queryParams]="{wallet: nftOwner}">
        <img src="assets/images/species/portrait_{{(nftOwner | walletSpecie) | async}}.png" alt="profile icon">
        <div class="owner-data">
          <p>{{'nft.owner' | translate}}</p>
          <p>{{nftOwner | shortWallet}}</p>
        </div>
      </div>
      <div *ngIf="saleType !== 'none' && nftSaleData.nftSeller" class="owner" [routerLink]="['/profile']" [queryParams]="{wallet: nftSaleData.nftSeller}">
        <img src="assets/images/species/portrait_{{(nftSaleData.nftSeller | walletSpecie) | async}}.png" alt="profile icon">
        <div class="owner-data">
          <p>{{'nft.owner' | translate}}</p>
          <p>{{nftSaleData.nftSeller | shortWallet}}</p>
        </div>
      </div>
      <div class="creator" *ngIf="nftFirstOwner" [routerLink]="['/profile']" [queryParams]="{wallet: nftFirstOwner}">
        <img src="assets/images/species/portrait_{{(nftFirstOwner | walletSpecie) | async}}.png" alt="profile icon">
        <div class="creator-data">
          <p>{{'nft.createdBy' | translate}}</p>
          <p>{{nftFirstOwner | shortWallet}}</p>
        </div>
      </div>
      <div class="creator" *ngIf="!nftFirstOwner">
        <img src="assets/images/logo.png" alt="Outer Ring logo">
        <div class="creator-data">
          <p>{{'nft.createdBy' | translate}}</p>
          <p>{{'nft.noFirstOwner' | translate}}</p>
        </div>
      </div>
    </div>
    <!-- ATTRIBUTES -->
    <div class="attributes nft-detail-block" [class.hidden]="!showAttributes">
      <h2 class="title">
        <mat-icon class="icon">security</mat-icon>
        {{'nft.attributes' | translate}}
        <mat-icon class="switcher" (click)="toggleData(2)">keyboard_arrow_down</mat-icon>
      </h2>
      <div class="attributes-list">
        <div *ngFor="let att of nftData.attributes" class="attribute">
          <p class="trait">{{att.trait_type + ':'}}</p>
          <p class="value">{{att.value}}</p>
        </div>
      </div>
      <p class="advice" *ngIf="showAttributes">{{'nft.attributeChangeAdvice' | translate}}</p>
    </div>

   <!--
    <div class="abilities nft-detail-block" *ngIf="nftData.abilities && nftData.abilities.length > 0">
      <h2 class="title">
        <mat-icon class="icon">security</mat-icon>
        {{'nft.abilities' | translate}}
        <mat-icon class="switcher" (click)="toggleData(3)">keyboard_arrow_down</mat-icon>
      </h2>
      <div class="abilities-list" [class.hidden]="!showAbilities">
        <div *ngFor="let abi of nftData.abilities" class="ability">
          <p>{{abi.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="price-history responsive nft-detail-block">
    <h2 class="title">
      {{'nft.priceHistory' | translate}}
      <mat-icon class="switcher" (click)="toggleData(0)">keyboard_arrow_down</mat-icon>
    </h2>
    <div class="price-history-list" [class.hidden]="!showPriceHistory">
      <p>Data</p>
      <p>of</p>
      <p>price</p>
      <p>history</p>
    </div>
  </div>
  -->
  <!-- TRANSACTIONS HISTORY -->
  <div class="history nft-detail-block" [class.hidden]="!showHistory" *ngIf="isOrNft">
    <h2 class="title">
      <mat-icon class="icon">security</mat-icon>
      {{'nft.history' | translate}}
      <mat-icon class="switcher" (click)="toggleData(4)">keyboard_arrow_down</mat-icon>
    </h2>
    <div class="history-list">
      <div class="transfers">
        <a *ngFor="let tr of nftTransfers" href="https://bscscan.com/tx/{{tr.id | slice:0:66}}" target="_blank">
          <p>{{tr.type}}</p>
          <p><span *ngIf="tr.from">{{tr.from | shortWallet}}</span></p>
          <p>-></p>
          <p>{{tr.to | shortWallet}}</p>
          <p>{{tr.timestamp | date: 'MMM d'}}</p>
          <p class="price" *ngIf="tr.buyPrice">
            {{tr.buyPrice | fromWei}}
            <img src="assets/images/tokens/{{tr.token | toTicker | lowercase | slice:0:66}}_mini.png" alt="Currency icon" />
            <span class="tooltip">{{tr.token | toTicker}}</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
