<!-- <div class="separator"></div>
<div class="form-block">
  <div style="display: flex; width: 100%;">
    <input #amountTokenToUnstake="ngModel" type="number" name="amountTokenToUnstake" [(ngModel)]="amountToUnstake"
      id="amountToUnstake" class="form" (ngModelChange)="$event ? rewardUsdt() : null" placeholder="0.0" required>
  </div>
</div>

<div style="margin-top: 1.2rem;">
  <mat-slider style="width: 100%;" [max]="max" [min]="min" [step]="step"
    (change)="$event?setPercentageUnstake(amountPercentage): null" name="amount" [discrete]="thumbLabel">
    <input matSliderThumb [(ngModel)]="amountPercentage">
  </mat-slider>
</div>

<div class="border-red">
  <div>
    <span>Max to withdraw: &nbsp;</span><span class="tex-med">{{data.staked | number: '0.1-5'}}&nbsp;
      {{data.subsidiaryTokenSymbol1}}+{{data.subsidiaryTokenSymbol2}}</span>
  </div>

  <div *ngIf="!noDisplay && amountToUnstake">
    <div>Ammount to receive: &nbsp;<span class="tex-med">{{amountToUnstake |
        number:'0.1-5'}}&nbsp;{{data.subsidiaryTokenSymbol1}}&nbsp;{{data.subsidiaryTokenSymbol2}}</span></div>
  </div>

  <div class="title col-center" style="margin-top: 2rem;">
    <button (click)="approveSupply()" class="btn-claim" [disabled]="amountPercentage==0 || noDisplay"
      type="submit">Withdraw</button>
  </div>
</div> -->
