    <div *ngIf="!file" [ngClass]="showPool ? 'showPool':'noShowPool'">

      <div class="farm-card">
        <!-- <span style="color: aliceblue;">{{pool.pool}}</span> -->

        <div class="parent">

          <!--Title and icons block-->
          <div class="block block-1">
            <div>
              <div>
                <div class="tex-ligth">{{ 'defi.pool.earn' | translate }}</div>
                <div class="tex-strong">
                  {{ pool.rewardToken[0].symbol }}<span *ngIf="pool.rewardToken.length == 2"> + &nbsp;{{ pool.rewardToken[1].symbol }}</span>
                </div>
              </div>
              <div class="block-1-tex">
                <div class="tex-ligth">{{ 'defi.pool.stake' | translate | titlecase }}</div>
                <div class="tex-strong">
                  {{ pool.stakedToken.symbol }}
                  <span *ngIf="pool.stakedToken.LPToken" class="tex-med">{{ pool.stakedToken.LPToken.token0Symbol }}+{{ pool.stakedToken.LPToken.token1Symbol }}</span>
                </div>
              </div>
            </div>
            <div class="img-block">
              <img class="img-icon-sub img-icon-sub-1" [src]="fileImg + pool.rewardToken[0].symbol + '.png'">
              <img *ngIf="pool.rewardToken.length == 2" class="img-icon-sub img-icon-sub-2" [src]="fileImg + pool.rewardToken[1].symbol + '.png'">

              <img *ngIf="!pool.stakedToken.LPToken" class="img-icon img-icon-1" [src]="fileImg + pool.stakedToken.symbol + '.png'">
              <img *ngIf="pool.stakedToken.LPToken" class="img-icon img-icon-1" [src]="fileImg + pool.stakedToken.LPToken.token0Symbol + '.png'">
              <img *ngIf="pool.stakedToken.LPToken" class="img-icon img-icon-2" [src]="fileImg + pool.stakedToken.LPToken.token1Symbol + '.png'">
            </div>
          </div>



          <!-- Total Staked block info -->
          <div class="block block-3">
            <div>
                <div class="tex-ligth">{{ 'defi.pool.earn' | translate | titlecase }}</div>
              <div> <span class="accent">{{pool.stakedToken.symbol}}&nbsp;</span>&nbsp;{{ 'defi.pool.totalStaked' | translate }}</div>
              <div class="tex-med-bold">{{ staked| number: "1.0-3"  }}</div>
              <div class="tex-ligth"><app-price [pool]="pool" [token]="pool.stakedToken.address" [staked]="staked"></app-price></div>
              <div class="apr">APR<mat-icon (click)="apy()">calculate</mat-icon></div>
            </div>
            <!-- <div>
              <button (click)="deposit()" class="btn btn-accent">{{ 'Stake LP' | translate }}</button>
            </div> -->
          </div>

          <!-- Reward block -->
          <div *ngIf="isConnected && pendingRewards1 != 0" class="block block-2">
            <div>
              <div> <span class="accent">{{pool.rewardToken[0].symbol}}&nbsp;</span>&nbsp;{{ 'defi.pool.earned' | translate }}</div>
              <div class="tex-med-bold tex-green">{{ pendingRewards1 | number: "1.0-3" }}</div>
              <div class="tex-ligth">
                <span *ngIf="tokenHasPrice(pool.rewardToken[0].address)">
                  <app-price  [pool]="pool" [token]="pool.rewardToken[0].address" [staked]="pendingRewards1" [type]="earnGQ1"></app-price>
                </span>

              </div>
              <div *ngIf="pool.rewardToken.length == 2">
                <span class="accent">{{pool.rewardToken[1].symbol}}&nbsp;</span>&nbsp;{{ 'defi.pool.earned' | translate }}
                <div class="tex-med-bold tex-green">{{ pendingRewards2 | number: "1.0-3" }}</div>
                <div class="tex-ligth">
                  <span *ngIf="tokenHasPrice(pool.rewardToken[1].address)">{{pool.rewardToken[1].address}}
                  <app-price [pool]="pool" [token]="pool.rewardToken[1].address" [staked]="pendingRewards2"  [type]="earnGQ2"></app-price>
                  </span>
                </div>

              </div>
            </div>
            <div>
              <button class="btn btn-secondary">{{ 'defi.pool.harvest' | translate }}</button>
            </div>
          </div>

          <!-- Staked block Own -->
          <div *ngIf="stakedOwn != 0 && isConnected" class="block block-3">
            <div>
              <div> <span class="accent">{{pool.stakedToken.symbol}}&nbsp;</span>&nbsp;{{ 'defi.pool.staked' | translate }}</div>
              <div class="tex-med-bold">{{ stakedOwn | number: "1.0-3"  }}</div>
              <div class="tex-ligth">
                <app-price [pool]="pool" [token]="pool.stakedToken.address" [staked]="stakedOwn"></app-price>
              </div>
            </div>
            <div>
              <button (click)="deposit()" class="btn btn-accent">{{ 'defi.pool.stakeLP' | translate }}</button>
            </div>
          </div>

          <!-- Details block-->
          <div class="block block-4">
            <div class="details tex-med hide-arrow">
              <span (click)="showDetails()">{{ 'defi.pool.details' | translate }}&nbsp;
              <mat-icon class="icon" [ngClass]="showDetDiv !== true? '':'show'">keyboard_arrow_down</mat-icon></span>
            </div>

          <!-- Ocult Information block -->
            <div class="details-show" [ngClass]="showDetDiv !== true? 'container':'container-noShow'">

              <!-- <div class="accent">{{ 'defi.pool.Ends' | translate }}</div>
              <div class="tex-med green margin-b">{{ pool.endBlock}} <mat-icon>watch</mat-icon></div> -->
              <!-- Time block -->
              <div>
                <div class="time">
                  <span *ngIf="!hasStarted && !hasEnded" class="tex-med accent">Starts</span>
                  <span *ngIf="hasStarted && !hasEnded" class="tex-med accent">Ends</span>
                  <span *ngIf="hasEnded" class="accent">Ended</span>
                </div>
                <div class="time-margin">
                  <span *ngIf="!hasStarted && !hasEnded">
                    <a
                      href="{{ linkNetwork }}{{ pool.startBlock }}"
                      target="_blank"
                      class="link-st"
                    >
                      {{ blockToStart }} blocks
                      <fa-icon [icon]="faStopwatch"></fa-icon>
                    </a>
                  </span>
                  <span
                    *ngIf="hasStarted && !hasEnded">
                    <a
                      href="{{ linkNetwork }}{{ pool.endBlock }}"
                      target="_blank"
                      class="link-st"
                    >
                      {{ blocksToEnd }} blocks
                      <fa-icon [icon]="faStopwatch" class="fa-lg"></fa-icon>
                    </a>
                  </span>
                </div>
                <div *ngIf="!canWithdraw">
                  <div *ngIf="percentajeToWithdraw">
                    <span>{{ 'pool.timeWithdraw' | translate }}</span>
                  </div>
                  <div *ngIf="percentajeToWithdraw === NaN">
                    <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
                  </div>

                  <div *ngIf="percentajeToWithdraw">
                    <span
                      >{{ days }}&nbsp;:&nbsp;{{ hours }}&nbsp;:&nbsp;{{
                        minutes
                      }}&nbsp;:&nbsp;{{ seconds }}</span
                    >
                  </div>
                  <div *ngIf="percentajeToWithdraw">
                    <mat-progress-bar
                      mode="determinate"
                      [value]="percentajeToWithdraw"
                      class="buffer"
                    ></mat-progress-bar>
                  </div>
                </div>
              </div>

              <div class="accent">{{ 'defi.pool.fee' | translate }}</div>
              <div class="tex-med margin-b">{{ fee }}%</div>
              <div class="accent">{{ 'defi.pool.get' | translate}}</div>
              <div *ngIf="pool.stakedToken.LPToken"  class="margin-b">
                {{pool.stakedToken.LPToken.symbol}} {{pool.stakedToken.LPToken.token0Symbol}}&nbsp;-&nbsp;{{pool.stakedToken.LPToken.token1Symbol }}&nbsp;LP
                &nbsp;<mat-icon>logout</mat-icon>
              </div>
              <div *ngIf="!pool.stakedToken.LPToken" class="margin-b">
                {{pool.stakedToken.symbol}}&nbsp;<mat-icon>logout</mat-icon>
              </div>
              <div class="margin-b"><a href="https://bscscan.com/address/{{pool.pool}}" target="_blank">{{ 'defi.pool.view' | translate }} &nbsp;<mat-icon>logout</mat-icon></a></div>
              <div class="margin-b" *ngIf="pool.stakedToken.LPToken"><a hrerf="https://bscscan.com/address/{{pool.stakedToken.LPToken.address}}" target="_blank">{{ 'defi.pool.pairInfo' | translate }} &nbsp;<mat-icon>logout</mat-icon></a></div>
              <div class="margin-b" (click)="setTokenOnMetamask(pool.rewardToken[0].address, pool.rewardToken[0].symbol, pool.rewardToken[0].decimals, pool.rewardToken[0].symbol + '.jpg')">
                <span class="accent">{{ 'defi.pool.add' | translate }}</span>&nbsp;{{ pool.rewardToken[0].symbol }}</div>
              <div class="margin-b" *ngIf="pool.rewardToken.length == 2" (click)="setTokenOnMetamask(pool.rewardToken[1].address, pool.rewardToken[1].symbol, pool.rewardToken[1].decimals, pool.rewardToken[1].symbol + '.jpg')">
                <span class="accent">{{ 'defi.pool.add' | translate }}</span>&nbsp;{{ pool.rewardToken[1].symbol }}</div>

            </div>
        </div>
          <!-- Connect block -->
          <div class="block block-5">
            <div>
              <button *ngIf="!isConnected" class="btn btn-withdraw" (click)="connectWallet()">{{ 'defi.pool.Connect Wallet' | translate }}</button>
              <button *ngIf="isConnected && stakedOwn == 0 && isApproved" class="btn btn-withdraw" (click)="deposit()">{{ 'defi.pool.Deposit' | translate }}</button>
              <button *ngIf="isConnected && stakedOwn != 0 && isApproved" class="btn btn-withdraw" (click)="withdraw()">{{ 'defi.pool.Withdraw' | translate }}</button>
              <button *ngIf="isConnected && stakedOwn != 0 && !isApproved" class="btn btn-withdraw" (click)="withdraw()">{{ 'defi.pool.Withdraw' | translate }}</button>
              <button *ngIf="isConnected && stakedOwn == 0 && !isApproved" class="btn btn-withdraw" (click)="changeAllowance()">{{ 'defi.pool.Enable' | translate }}</button>
            </div>
            <div *ngIf="!isConnected" class="buttons">
              <p class="btn-allow" (click)="changeAllowance('0')">{{'allowance.revoke' | translate}}</p>
              <p class="btn-allow" (click)="customAllowance()">{{'allowance.custom' | translate}}</p>
              <p class="btn-allow" (click)="changeAllowance()">{{'allowance.max' | translate}}</p>
            </div>
          </div>

        </div>
      </div>
  </div>



  <!--grid inline-->

  <div *ngIf="file" class="inline-grid"  [ngClass]="showPool ? 'showPool':'noShowPool'">

    <!-- Visible info -->
    <div class="visible">
      <div class="row-visible">
        <!--Icon block-->
        <div class="img-block">
          <img *ngIf="!pool.stakedToken.LPToken" class="img-icon img-icon-1" [src]="fileImg + pool.stakedToken.symbol + '.png'">
          <img *ngIf="pool.stakedToken.LPToken" class="img-icon img-icon-1" [src]="fileImg + pool.stakedToken.LPToken.token0Symbol + '.png'">
          <img *ngIf="pool.stakedToken.LPToken" class="img-icon img-icon-2" [src]="fileImg + pool.stakedToken.LPToken.token1Symbol + '.png'">
          <img class="img-icon-sub img-icon-sub-1" [src]="fileImg + pool.rewardToken[0].symbol + '.png'">
          <img *ngIf="pool.rewardToken.length == 2" class="img-icon-sub img-icon-sub-2" [src]="fileImg + pool.rewardToken[1].symbol + '.png'">
        </div>

        <!--Title block-->
        <div class="block block-1">
          <div>
            <div class="first-r">
              <div class="tex-ligth">{{ 'defi.pool.earn' | translate }}</div>
              <div class="tex-strong">
                {{ pool.rewardToken[0].symbol }}<span *ngIf="pool.rewardToken.length == 2"> + &nbsp;{{ pool.rewardToken[1].symbol }}</span>
              </div>
            </div>
            <div class="block-1-tex">
              <div class="tex-ligth">{{ 'defi.pool.stake' | translate | titlecase }}</div>
              <div class="tex-med">
                {{ pool.stakedToken.symbol }}
                <span *ngIf="pool.stakedToken.LPToken" class="tex-med">{{ pool.stakedToken.LPToken.token0Symbol }}+{{ pool.stakedToken.LPToken.token1Symbol }}</span>
              </div>
            </div>
          </div>
        </div>

        <!--Reward info-->
        <div>
          <div> &nbsp;{{ 'defi.pool.earned' | translate }}</div>
          <div class="tex-med-bold tex-green">{{ pendingRewards1 | number: "1.0-3" }} <span class="accent">{{pool.rewardToken[0].symbol}}</span></div>
          <div class="tex-ligth" *ngIf="pendingRewards1 != 0">
            <span *ngIf="tokenHasPrice(pool.rewardToken[0].address)" >
              <app-price [pool]="pool" [token]="pool.rewardToken[0].address" [staked]="pendingRewards1"  [type]="earnGQ1"></app-price>
            </span>
          </div>
          <div *ngIf="pool.rewardToken.length == 2">
            <div class="tex-med-bold tex-green">{{ pendingRewards2 | number: "1.0-3" }} <span class="accent">{{pool.rewardToken[1].symbol}}</span></div>
            <div class="tex-ligth" *ngIf="pendingRewards2 != 0">
              <span *ngIf="tokenHasPrice(pool.rewardToken[1].address)" >
                <app-price [pool]="pool" [token]="pool.rewardToken[1].address" [staked]="pendingRewards2"  [type]="earnGQ2"></app-price>
              </span>
            </div>
          </div>
        </div>


        <!--Staked info-->
        <div class="block-3">
            <div class="apr">{{ 'Total staked' | translate }} &nbsp;<strong>APR</strong><mat-icon (click)="apy()" style="font-size: 1rem;">calculate</mat-icon></div>
            <div class="tex-ligth"><app-price [pool]="pool" [token]="pool.stakedToken.address" [staked]="staked"></app-price></div>
            <div class="tex-med-bold">
              {{ staked | number: "1.0-3" }}&nbsp;
              <img *ngIf="!pool.stakedToken.LPToken" class="img-icon-lit-1" [src]="fileImg + pool.stakedToken.symbol + '.png'">
              <img *ngIf="pool.stakedToken.LPToken" class="img-icon-lit-1" [src]="fileImg + pool.stakedToken.LPToken.token0Symbol + '.png'">
              <img *ngIf="pool.stakedToken.LPToken" class="img-icon-lit-2" [src]="fileImg + pool.stakedToken.LPToken.token1Symbol + '.png'">
            </div>
        </div>

        <!-- Details block-->
        <div class="block-4">
          <div class="details tex-med hide-arrow">
            <span (click)="showDetails()">{{ 'Details' | translate }}&nbsp;
            <mat-icon class="icon" [ngClass]="showDetDiv !== true? '':'show'">keyboard_arrow_down</mat-icon></span>
          </div>
          <div>
            <!--Time block-->
      <div class="block-5">
        <div class="time">
          <span *ngIf="!hasStarted && !hasEnded">Starts</span>
          <span *ngIf="hasStarted && !hasEnded">Ends</span>
          <span *ngIf="hasEnded">Ended</span>
        </div>
        <div>
          <span *ngIf="!hasStarted && !hasEnded">
            <a
              href="{{ linkNetwork }}{{ pool.startBlock }}"
              target="_blank"
              class="link-st"
            >
              {{ blockToStart }} blocks
              <fa-icon [icon]="faStopwatch"></fa-icon>
            </a>
          </span>
          <span
            *ngIf="hasStarted && !hasEnded">
            <a
              href="{{ linkNetwork }}{{ pool.endBlock }}"
              target="_blank"
              class="link-st"
            >
              {{ blocksToEnd }} blocks
              <fa-icon [icon]="faStopwatch" class="fa-lg"></fa-icon>
            </a>
          </span>
        </div>
        <!-- <div *ngIf="!canWithdraw">
          <div *ngIf="percentajeToWithdraw">
            <span>Time Left to withdraw</span>
          </div>
          <div *ngIf="percentajeToWithdraw === NaN">
            <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
          </div>

          <div *ngIf="percentajeToWithdraw">
            <span
              >{{ days }}&nbsp;:&nbsp;{{ hours }}&nbsp;:&nbsp;{{
                minutes
              }}&nbsp;:&nbsp;{{ seconds }}</span
            >
          </div>
          <div *ngIf="percentajeToWithdraw">
            <mat-progress-bar
              mode="determinate"
              [value]="percentajeToWithdraw"
              class="buffer"
            ></mat-progress-bar>
          </div>
        </div> -->
      </div>
          </div>
        </div>
      </div>
    <!-- Details row -->
    <div class="details-row" [ngClass]="showDetDiv !== true? 'container':'container-noShow'">

      <!--Contract info-->
      <div class="block-1">
        <div class="link-bs"><a href="https://bscscan.com/address/{{pool.pool}}" target="_blank" class="green">{{ 'View Contract' | translate }} </a></div>
        <div class="link-bs"><a href="https://bscscan.com/address/{{pool.stakedToken.address}}" target="_blank">{{ 'Staked Info' | translate }} &nbsp;{{pool.stakedToken.symbol}}</a></div>
        <div class="accent" *ngIf="fee">{{ 'defi.pool.fee' | translate }} <span>{{ fee }}%</span></div>
        <div (click)="setTokenOnMetamask(0)">{{ 'Add to Wallet' | translate }}&nbsp;{{ pool.rewardToken[0].symbol }}&nbsp;<img [src]="'assets/images/defi/' + pool.rewardToken[0].symbol + '.png'"></div>
        <div *ngIf="pool.rewardToken.length == 2" (click)="setTokenOnMetamask(1)">
          {{ 'Add to Wallet' | translate }}&nbsp;{{ pool.rewardToken[1].symbol }}&nbsp;
          <img [src]="'assets/images/defi/' + pool.rewardToken[1].symbol + '.png'">
        </div>
      </div>

      <!--Rewards block-->
      <div class="block-2">
        <div class="div18">
          <div>
            <span class="accent">{{pool.rewardToken[0].symbol}}</span>&nbsp;{{ 'earned' | translate }}
            <div class="tex-med-bold tex-green">{{ pendingRewards1 | number: "1.0-3" }}</div>
            <span *ngIf="tokenHasPrice(pool.rewardToken[0].address)">
              <app-price [pool]="pool" [token]="pool.rewardToken[0].address" [staked]="pendingRewards1"  [type]="earnGQ1"></app-price>
            </span>
          </div>
          <div *ngIf="pool.rewardToken.length == 2 && pool.stakedToken.LPToken" >
            <span class="accent">{{pool.rewardToken[1].symbol}}</span>&nbsp;{{ 'earned' | translate }}
            <div class="tex-med-bold tex-green">{{ pendingRewards2 | number: "1.0-3" }}</div>
            <span *ngIf="tokenHasPrice(pool.rewardToken[1].address)">
              <app-price [pool]="pool" [token]="pool.rewardToken[1].address" [staked]="pendingRewards2"  [type]="earnGQ2"></app-price>
            </span>
          </div>
        </div>
        <div class="div20"><button class="btn btn-secondary" (click)="claimReward()">{{ 'Harvest' | translate }}</button> </div>
      </div>

      <!--Stacked block-->
      <div class="block-3">
        <div class="div18">
          <div>
            <span class="accent accent-max">{{pool.stakedToken.symbol}}</span>&nbsp;<span class="accent">{{ 'deposit' | translate }}</span>
          </div>
          <div class="div22 tex-med-bold">{{ stakedOwn | number: "1.0-3" }} </div>
          <app-price [pool]="pool" [token]="pool.stakedToken.address" [staked]="stakedOwn"></app-price>
        </div>
        <div class="div20">
          <button (click)="deposit()" class="btn btn-accent">{{ 'Stake LP' | translate }}</button>
        </div>
      </div>

      <!--Connect block-->
      <div class="block-4">
        <div class="connect">
          <button *ngIf="!isConnected" class="btn btn-withd-row" (click)="connectWallet()">{{ 'Connect Wallet' | translate }}</button>
          <button *ngIf="isConnected && stakedOwn == 0 && isApproved" class="btn btn-withdraw" (click)="deposit()">{{ 'Deposit' | translate }}</button>
          <button *ngIf="isConnected && stakedOwn != 0 && isApproved" class="btn btn-withdraw" (click)="withdraw()">{{ 'Withdraw' | translate }}</button>
          <button *ngIf="isConnected && stakedOwn != 0 && !isApproved" class="btn btn-withdraw" (click)="withdraw()">{{ 'Withdraw' | translate }}</button>
          <button *ngIf="isConnected && stakedOwn == 0 && !isApproved" class="btn btn-withdraw" (click)="changeAllowance()">{{ 'Enable' | translate }}</button>
        </div>
        <div *ngIf="isConnected" class="buttons">
          <span class="btn-allow" (click)="changeAllowance('0')">{{'allowance.revoke' | translate}}</span>
          <span class="btn-allow" (click)="customAllowance()">{{'allowance.custom' | translate}}</span>
          <span class="btn-allow" (click)="changeAllowance()">{{'allowance.max' | translate}}</span>
        </div>
      </div>
      <!--Time block-->
      <div class="block-5">
        <div class="time">
          <span *ngIf="!hasStarted && !hasEnded">Starts</span>
          <span *ngIf="hasStarted && !hasEnded">Ends</span>
          <span *ngIf="hasEnded">Ended</span>
        </div>
        <div>
          <span *ngIf="!hasStarted && !hasEnded">
            <a
              href="{{ linkNetwork }}{{ pool.startBlock }}"
              target="_blank"
              class="link-st"
            >
              {{ blockToStart }} blocks
              <fa-icon [icon]="faStopwatch"></fa-icon>
            </a>
          </span>
          <span
            *ngIf="hasStarted && !hasEnded">
            <a
              href="{{ linkNetwork }}{{ pool.endBlock }}"
              target="_blank"
              class="link-st"
            >
              {{ blocksToEnd }} blocks
              <fa-icon [icon]="faStopwatch" class="fa-lg"></fa-icon>
            </a>
          </span>
        </div>
        <div *ngIf="!canWithdraw">
          <div *ngIf="percentajeToWithdraw">
            <span>Time Left to withdraw</span>
          </div>
          <div *ngIf="percentajeToWithdraw === NaN">
            <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
          </div>

          <div *ngIf="percentajeToWithdraw">
            <span
              >{{ days }}&nbsp;:&nbsp;{{ hours }}&nbsp;:&nbsp;{{ minutes }}&nbsp;:&nbsp;{{ seconds }}</span
            >
          </div>
          <div *ngIf="percentajeToWithdraw">
            <mat-progress-bar
              mode="determinate"
              [value]="percentajeToWithdraw"
              class="buffer"
            ></mat-progress-bar>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

