@import "/src/styleVariables.scss";
.showPool {
  display: block;
}
.noShowPool {
  display: none;
}
.farm-card {
  margin: 0.6rem 0rem;
  border-radius: 1rem;

  .btn {
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    width: 7rem;
    &-accent {
      color: $white;
      background: $blue-dex-accent;
      &:hover {
        transition: all 300ms;
        background: $blue-light;
      }
    }
    &-secondary {
      color: $white;
      background: $blue-dex-secondary;

      &:hover {
        transition: all 300ms;
        color: $white;
        background: $blue-medium;
      }
    }
    &-withdraw {
      background-color: #d2196f;
      color: $white;
      width: 13rem;
      &:hover {
        background-color: $blue-medium;
      }
    }
    &-allow {
      margin: 0.2rem 0.5rem;
      padding: 0.3rem 0.5rem;
      border-radius: 0.4rem;
      background-color: $blue-medium;
      &:hover {
        background-color: $blue-dex-accent;
      }
    }
  }
  .tex-ligth {
    font-weight: 200;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 1px;
  }
  .tex-strong {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 1px;
  }
  .tex-med {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1em;
    letter-spacing: 1px;
  }
  .tex-med-bold {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    &.tex-green {
      color: $green;
    }
  }
  .accent {
    color: $pink;
    font-weight: 600;
  }
  .parent {
    background: $blue-stake-card-background;
    padding: 1rem 0.8rem 1rem 0.8rem;
    border: 2px solid $blue-extra-light;
    border-radius: 1rem;
    color: $white;
    width: 275px;

    .block {
      display: flex;
      align-items: flex-start;
      &-1 {
        justify-content: space-between;
        margin-bottom: 3rem;
        &-tex {
          margin-bottom: 0.3rem;
        }
        .img-block {
          position: relative;
        }
        .img-icon {
          position: absolute;
          width: 1.5rem;
          background: $blue-light;
          border: 3px solid $white;
          border-radius: 5rem;
          padding: 0.2rem;

          &-1 {
            right: 0rem;
            top: 2.8rem;
          }
          &-2 {
            right: 2rem;
            top: 2.8rem;
          }
        }
        .img-icon-sub {
          width: 3.3rem;
          position: absolute;
          background: $white;
          border: 3px solid $blue-light;
          border-radius: 5rem;
          padding: 0.2rem;
          &-1 {
            right: 0rem;
            top: 0rem;
          }
          &-2 {
            right: 2rem;
            top: 0rem;
          }
        }
      }
      &-2 {
        justify-content: space-between;
        margin-bottom: 1rem;
      }
      &-3 {
        justify-content: space-between;
        margin-bottom: 2rem;
        .apr {
          display: flex;
          align-items: center;
          margin-top: 0.7rem;
        }
      }
      &-4 {
        margin: -1rem;
        justify-content: space-between;
        flex-direction: column;
        border-top: 1px solid $blue-extra-light;
        .details.hide-arrow {
          margin-bottom: 1.5rem;
          display: inherit;
          text-align: end;
          .icon {
            transform: rotate(0deg);
            transition: 0.6s ease;
          }
          .show {
            transform: rotate(-180deg);
            transition: 0.6s ease;
          }
          display: flex;
          width: 100%;
          justify-content: flex-end;
          span {
            margin: 0.3rem 1rem;
            display: flex;
            align-items: center;
          }
        }
        .details-show {
          margin: 0rem 0rem 0rem 1rem;
        }
        .container {
          overflow: hidden;
          height: 0px;
          transition: height 1s ease-in-out;

          &-noShow {
            overflow: hidden;
            height: 300px;
            transition: height 1s ease-in-out;
            .green {
              color: $uncommon;
            }
            .margin-b {
              margin: 0.2rem 0rem 0.5rem 0rem;
              display: flex;
              align-items: center;
            }
          }
        }
      }
      &-5 {
        margin-top: 1rem;
        align-items: center;
        flex-direction: column;
        .buttons {
          margin-top: 1rem;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  .time-margin {
    margin-bottom: 0.5rem;
    .link-st {
      text-decoration: none;
      font-size: 1rem;
      color: $green;
      &:hover {
        cursor: pointer;
        color: $green-light;
      }
    }
  }
}

.inline-grid {
  // margin: 0rem 0.6rem;
  background: $blue-stake-card-background;
  color: $white;
  width: 100%;

  .btn {
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    width: 7rem;
    &-accent {
      color: $white;
      background: $blue-dex-accent;
      &:hover {
        transition: all 300ms;
        background: $blue-light;
      }
    }
    &-secondary {
      color: $white;
      background: $blue-dex-secondary;

      &:hover {
        transition: all 300ms;
        color: $white;
        background: $blue-medium;
      }
    }
    &-withdraw {
      background-color: #d2196f;
      color: $white;
      width: 11rem;
      &:hover {
        background-color: $blue-medium;
      }
    }
    &-allow {
      margin: 0.2rem 0.5rem;
      padding: 0.2rem 0.4rem;
      border-radius: 0.4rem;
      background-color: $blue-medium;
      &:hover {
        background-color: $blue-dex-accent;
      }
    }
  }
  .tex-ligth {
    font-weight: 200;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 1px;
  }
  .tex-strong {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 1px;
  }
  .tex-med {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1em;
    letter-spacing: 1px;
  }
  .tex-med-bold {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    &.tex-green {
      color: $green;
    }
  }
  .accent {
    color: $pink;
    font-weight: 600;
    font-size: 1rem;
  }

  .visible {
    display: block;
    background-image: linear-gradient(
      to right,
      $blue-light 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    .row-visible {
      display: grid;
      grid-template-columns: 10rem 12rem 14rem 16rem 10rem;
      height: 6rem;
      .img-block {
        position: relative;
        margin-left: 0.6rem;
        .img-icon {
          position: absolute;
          width: 1.5rem;
          background: $blue-light;
          border: 3px solid $white;
          border-radius: 5rem;
          padding: 0.2rem;

          &-1 {
            left: 2rem;
            top: 2.8rem;
            z-index: 2;
          }
          &-2 {
            left: 4rem;
            top: 2.8rem;
            z-index: 2;
          }
        }
        .img-icon-sub {
          width: 3.3rem;
          position: absolute;
          background: $white;
          border: 3px solid $blue-light;
          border-radius: 5rem;
          padding: 0.2rem;
          &-1 {
            left: 0rem;
            top: 0rem;
          }
          &-2 {
            left: 2rem;
            top: 0rem;
          }
        }
      }
      .block-1 {
        .first-r {
          margin-bottom: 0.5rem;
        }
      }
      .block-3 {
        .apr {
          display: flex;
          align-items: flex-start;
        }
        .img-icon-lit-1 {
          width: 15px;
        }
        .img-icon-lit-2 {
          width: 15px;
        }
      }
      .block-4 {
        align-self: start;
        justify-self: end;

        .details.hide-arrow {
          margin: 0rem 0.6rem 1.5rem 0rem;
          display: inherit;
          text-align: end;
          span {
            display: flex;
            align-items: center;
          }
          .icon {
            transform: rotate(0deg);
            transition: 0.6s ease;
          }
          .show {
            transform: rotate(-180deg);
            transition: 0.6s ease;
          }
        }
      }
    }

    .details-row {
      display: grid;
      grid-template-columns: 10rem 14rem 14rem 14rem 10rem;
      align-items: start;
      background: $blue-dex-accent-trans;
      .block-1 {
        padding: 0.6rem 0rem;
        img {
          width: 1rem;
        }
        .link-bs {
          color: $green;
          a {
            text-decoration: none;
            color: $green;
            :hover {
              color: $green-light;
            }
          }
        }
      }
      .block-2,
      .block-3,
      .block-4,
      .block-5 {
        border: 1px solid $blue-extra-light;
        margin: 0.8rem 0.4rem 0.8rem 0.4rem;
        border-radius: 0.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 135px;
        .div18 {
          margin: 0.6rem;
        }
        .div20,
        .connect {
          text-align: center;
          margin: 0.5rem 0rem;
        }
        .btn-withd-row {
          width: 11rem;
          background-color: #d2196f;
          color: $white;
          &:hover {
            background-color: $blue-medium;
          }
        }
        .buttons {
          display: flex;
          flex-direction: row;
          .btn-allow {
            width: 4rem;
            margin: 0.2rem 0.3rem;
          }
        }
      }
      .block-4 {
        justify-content: flex-end;
      }
      .block-5 {
        padding: 0rem 0.5rem;
        justify-content: flex-start;
        .time {
          margin-top: 0.3rem;
        }
        .link-st {
          text-decoration: none;
          color: $green;
          &:hover {
            cursor: pointer;
            color: $green-light;
          }
        }
      }
    }
    .container {
      overflow: hidden;
      height: 0px;
      transition: height 0.5s ease-in-out;
      display: grid;
      grid-template-columns: repeat(1fr);
      padding: 0px 8px;
      &-noShow {
        overflow: hidden;
        height: 165px;
        transition: height 0.5s ease-in-out;
        padding: 0px 8px;
      }
    }
  }
    .link-st {
      text-decoration: none;
      font-size: 1rem;
      color: $green;
      &:hover {
        cursor: pointer;
        color: $green-light;
      }
    }

}

// Medium devices
@media (min-width: 1034px) {
}
