<div class="close">
  <p class="text">{{"getMaterials.title" | translate}}<span class="button" (click)="closePopUp()">X</span></p>
</div>

<div class="content">
  <p class="info">{{"getMaterials.howTo" | translate}}</p>
  <div class="link" [routerLink]="['/lands/materialExtraction']" (click)="closePopUp()">
    <p class="main">{{"getMaterials.extraction" | translate}}</p>
    <p class="text">{{"getMaterials.extractionDefinition" | translate}}</p>
  </div>
  <div class="link" [routerLink]="['/undergroundMarket']" (click)="closePopUp()">
    <p class="main">{{"getMaterials.undergroundMarket" | translate}}</p>
    <p class="text">{{"getMaterials.undergroundMarketDefinition" | translate}}</p>
  </div>
  <div class="link" [routerLink]="['/crafting/foundry']" (click)="closePopUp()">
    <p class="main">{{"getMaterials.foundry" | translate}}</p>
    <p class="text">{{"getMaterials.foundryDefinition" | translate}}</p>
  </div>
</div>
