@import '/src/styleVariables.scss';

.creation {
  display: grid;
  grid-template-columns: 1fr 150px;

  .image {
    align-self: end;
    width: 120px;
    margin: 0 -10px;
  }

  .selector {
    align-self: start;
    text-align: center;
    width: 120px;
    margin: 0 auto;

    p {
      position: relative;
      width: 100px;
      margin: 15px auto;
      font-weight: 300;
      line-height: 1em;
      height: 1em;

      &.tier {
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
      }

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }

      .icon {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.prev {
          right: calc(100% - 20px);
          padding: 2px 20px 2px 2px;
        }

        &.next {
          left: calc(100% - 20px);
          padding: 2px 2px 2px 20px;
        }
      }
    }
  }
}
