<div style="display: flex;flex-flow: wrap;">
  <div style="width: 50%;"><app-nft-statistic-by-type [queriedNft]="'armors'"></app-nft-statistic-by-type></div>
  <div style="width: 50%;"><app-nft-statistic-by-type [queriedNft]="'weapons'"></app-nft-statistic-by-type></div>
  <div style="width: 50%;"><app-nft-statistic-by-type [queriedNft]="'landVehicles'"></app-nft-statistic-by-type></div>
  <div style="width: 50%;"><app-nft-statistic-by-type [queriedNft]="'spaceVehicles'"></app-nft-statistic-by-type></div>
  <div style="width: 50%;"><app-nft-statistic-by-type [queriedNft]="'lands'"></app-nft-statistic-by-type></div>
  <div style="width: 50%;"><app-nft-statistic-by-type [queriedNft]="'keys'"></app-nft-statistic-by-type></div>
</div>