<!-- CLOSE BUTTON -->
<div class="close">
  <p class="text">
    <span>{{"governance.popUpBuyGq.buyGq" | translate}}</span>
    <span class="button" (click)="closePopUp()">X</span>
  </p>
</div>

<div class="buy-pop-up">
  <div class="exchanges">
    <p class="subtitle">{{"governance.popUpBuyGq.selectExchange" | translate}}</p>
    <a class="exchange" href="https://pasarela.cryptopocket.io/?symbol=gq" target="_blank">
      <mat-icon class="icon">credit_card</mat-icon>
      <p class="text">Card</p>
    </a>
    <a class="exchange" href="https://pancakeswap.finance/swap?inputCurrency=0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56&&outputCurrency=0xF700D4c708C2be1463E355F337603183D20E0808" target="_blank">
      <img src="assets/images/exchanges/pancake.png" alt="Pancake logo" />
      <p class="text">Pancake</p>
    </a>
    <a class="exchange" href="http://exchange.biswap.org/#/swap?inputCurrency=0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56&&outputCurrency=0xF700D4c708C2be1463E355F337603183D20E0808&utm_source=outr&utm_medium=btn&utm_campaign=col_btnoutr_theo" target="_blank">
      <img src="assets/images/exchanges/biswap.png" alt="Biswap logo" />
      <p class="text">Biswap</p>
    </a>
    <a class="exchange" href="https://www.huobi.com/en-us/exchange/gq_usdt/" target="_blank">
      <img src="assets/images/exchanges/huobi.png" alt="Huobi logo" />
      <p class="text">Huobi</p>
    </a>
    <a class="exchange" href="https://www.gate.io/trade/GQ_USDT" target="_blank">
      <img src="assets/images/exchanges/gate-io.png" alt="Gate-io logo" />
      <p class="text">Gate.io</p>
    </a>
  </div>
</div>
