<div class="parent" *ngIf="addLiquidity; else liquidity">
  <div class="div1"><mat-icon (click)="goToAdd()">arrow_back</mat-icon>&nbsp;{{ 'defi.liquidity.title' | translate}} </div>
  <div class="div2">{{ 'defi.liquidity.subTitle' | translate}} </div>
  <div class="div3"><app-settings-button></app-settings-button></div>
  <div class="div4">
    <button *ngIf="!pairSelected" (click)="setPair()" class="btn sel-btn">{{ 'defi.liquidity.select' | translate }}
    </button>
    <button *ngIf="pairSelected" (click)="setPair()" class="btn pair-btn">
      <img [src]="liquidityPlus.tokenImg1" class="img">&nbsp;{{liquidityPlus.subsidiaryTokenSymbol1}}
    </button>
  </div>
  <div class="div5">
    <span *ngIf="liquidityPlus.tokenBalance1== '0'; else balanceFirst">{{'defi.liquidity.insufficientBalance' | translate }}</span>
    <ng-template #balanceFirst>{{ 'defi.liquidity.balance' | translate }}&nbsp;{{liquidityPlus.tokenBalance1 | fromWei | number:
      '1.0-3'}}</ng-template>
  </div>
  <div class="div6">
    <input class="input" type='text' placeholder="0" [(ngModel)]="liquidityPlus.amount1"
      (ngModelChange)="setValues('1')">
    <button class="btn btn-max" (click)="max(1)">{{ 'defi.liquidity.max' | translate | uppercase }}</button>
  </div>
  <div class="div7"><span><mat-icon>add</mat-icon></span> </div>
  <div class="div8">
    <button *ngIf="!pairSelected" (click)="setPair()" class="btn sel-btn">{{ 'defi.liquidity.select' | translate }}
    </button>
    <button *ngIf="pairSelected" (click)="setPair()" class="btn pair-btn">
      <img [src]="liquidityPlus.tokenImg2" class="img">&nbsp;{{liquidityPlus.subsidiaryTokenSymbol2}}
    </button>
  </div>
  <div class="div9">
    <span *ngIf="liquidityPlus.tokenBalance2 == '0'; else balanceSecond">{{'defi.liquidity.insufficientBalance' | translate }}</span>
    <ng-template #balanceSecond>{{ 'defi.liquidity.balance' | translate }}&nbsp; {{liquidityPlus.tokenBalance2 | fromWei | number:
      '1.0-3'}}</ng-template>
  </div>
  <div class="div10">
    <input class="input" type='text' placeholder="0" [(ngModel)]="liquidityPlus.amount2"
      (ngModelChange)="setValues('2')">
    <button class="btn btn-max" (click)="max(2)">{{ 'defi.liquidity.max' | translate | uppercase }}</button>
  </div>
  <div *ngIf="error" class="error">
    {{errorText}}
  </div>
  <div class="div11" *ngIf="liquidityPlus.tokenBalance1 != '0' && !error && liquidityPlus.amount1 != '0'">{{ 'defi.liquidity.shareOfPool' | translate }}</div>
  <div class="div12" *ngIf="liquidityPlus.tokenBalance1 != '0'  && !error">{{ shareOfPool }} </div>
  <div class="div13">
    <button class="btn btn-add"
      *ngIf="connected && liquidityPlus.tokenBalance1 != '0' && liquidityPlus.tokenBalance2 != '0' && !error && liquidityPlus.amount1 != '0'"
      (click)="addLiquidityToPair()">{{'defi.liquidity.approve' | translate | uppercase}}</button>

    <button class="btn btn-add"
      *ngIf="connected && (liquidityPlus.tokenBalance1 == '0' || liquidityPlus.tokenBalance2 == '0' && error)">
      {{'defi.liquidity.insufficientBalance' | translate | uppercase}}</button>
    <button *ngIf="!connected" class="btn btn-connect" (click)="connectWallet()">{{'defi.liquidity.connectWallet' | translate |
      uppercase}}</button>
  </div>
</div>

<ng-template #liquidity>
  <div class="liquidity">
    <p>{{ 'defi.liquidity.doYouLikeToAdd' | translate }}</p>
    <button class="btn btn-add" (click)="goToAdd()">{{'defi.liquidity.addliquidity' | translate | uppercase}}</button>

    <div class="div13">
      <!-- <button class="btn btn-add" *ngIf="connected; else noConnected">{{'Approve' | translate | uppercase}}</button> -->
      <ng-template #noConnected><button class="btn btn-connect">{{'defi.liquidity.connectWallet' | translate | uppercase}}</button>
      </ng-template>

      <!-- Pools with liquidity   -->
      <div class="content-pool" style="margin: 10px">

        <div *ngIf="thinking">
          <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
        </div>

        <!--Available Lp pairs-->
        <div *ngIf="availablePairs.length != 0">
          {{ 'defi.liquidity.selectPool' | translate }}
        </div>
        <mat-table *ngIf="availablePairs.length != 0" [dataSource]="dataSource" matSort multiTemplateDataRows
          class="table-pools">
          <ng-container matColumnDef="pair" sticky>
            <mat-cell *matCellDef="let pair" class="cell">{{ pair.subsidiaryTokenSymbol1 }}
              <img src="{{ pair.subsidiaryTokenImg1 }}" width="25px" height="25px" />
              <img src="{{ pair.subsidiaryTokenImg2 }}" width="25px" height="25px" />
              {{ pair.subsidiaryTokenSymbol2 }}
            </mat-cell>
          </ng-container>

          <ng-container>
            <mat-row *matRowDef="let pair; columns: displayedColumns" style="border-radius: 20px" class="row"
              (click)="goToMinus(pair)"></mat-row>
          </ng-container>
        </mat-table>
      </div>

    </div>
  </div>
</ng-template>
