@import 'src/styleVariables.scss';

.card {
  border: 1px solid $blue-medium;
  border-radius: 7px;
  text-align: center;
  width: 150px;

  &.acetylene, &.carbon, &.methane, &.plutonium, &.vanadium {
    background: linear-gradient(to bottom left, transparent 20%, $purple-material-10, transparent 80%);
  }

  &.aluminium, &.iron, &.oxygen, &.silicon {
    background: linear-gradient(to bottom left, transparent 20%, $blue-material-10, transparent 80%);
  }

  &.argon, &.nickel {
    background: linear-gradient(to bottom left, transparent 20%, $yellow-material-10, transparent 80%);
  }

  &.chromium, &.cobalt, &.copper, &.helium, &.hydrogen {
    background: linear-gradient(to bottom left, transparent 20%, $green-material-10, transparent 80%);
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1em;
  }

  .top-side {
    position: relative;

    .image {
      width: 100%;
      object-fit: contain;
    }

    .name, .amount {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .name {
      text-transform: uppercase;
      top: 10px;
      font-weight: 500;
    }

    .amount {
      bottom: 10px;
    }

    .acetylene, .carbon, .methane, .plutonium, .vanadium {
      color: $purple-material;
    }

    .aluminium, .iron, .oxygen, .silicon {
      color: $blue-material;
    }

    .argon, .nickel {
      color: $yellow-material;
    }

    .chromium, .cobalt, .copper, .helium, .hydrogen {
      color: $green-material;
    }
  }

  .bottom-side {
    border-top: 1px solid $blue-medium;
    padding: 10px;

    .price {
      position: relative;
      margin: 0 auto 10px;
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 5px;
      width: max-content;

      .value {
        align-self: center;
      }

      .gq {
        align-self: center;
        height: 20px;
        width: 20px;
        object-fit: contain;
      }

      .edit {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
      }
    }

    .buttons {

      .button {
        cursor: pointer;
        background-color: $blue-medium;
        border-radius: 7px;
        padding: 5px;
        text-transform: uppercase;

        &.owner {
          text-transform: unset;
          margin: 10px 0 0;

          &.remove {
            background-color: $red-semi-dark;

            &:hover {
              background-color: $red-error;
            }
          }
        }

        &:hover {
          background-color: $blue-light;
        }
      }
    }
  }
}



/*
 * Responsive breakpoints
 */

// Small devices
@media (max-width: 576px) {
  .card {
    width: 120px;

    p {
      font-size: 0.8rem;
    }
  }
}
