@import '/src/styleVariables.scss';

.slider {
  position: relative;
  z-index: 1;

  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .card {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;

    .data {
      grid-row: 1;
      grid-column: 1;
      position: relative;
      padding: 50px 20px;
      color: $white;

      .tip {
        font-family: $magistral !important;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 0.8em;
      }

      .title {
        font-family: $workSans;
        text-transform: uppercase;
        color: $white;
        font-size: 3.7em;
        max-width: 950px;
        margin: 0 0 50px;
        line-height: 1em;
        font-weight: 500;
      }

      .description {
        padding: 0;
        align-self: center;

        .text {
          color: $white;
          font-size: 1.2em;
          max-width: 700px;
          font-weight: 400;
          margin: 4% 0;
        }
      }

      .buttons {

        .button {
          cursor: pointer;
          display: inline-block;
          background-color: $blue-medium;
          border-radius: 8px;
          padding: 10px 20px;
          width: max-content;
          margin: 20px 0;

          &:first-child {
            margin-right: 20px;
          }

          &:hover {
            background-color: $blue-light;
          }
        }
      }
    }

    .image {
      position: relative;
      grid-row: 1;
      grid-column: 2;

      &-front {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -80%);
        width: 70%;

        .file {
          width: 100%;
          background-color: $white-transparent-60;
          border: 1px solid $white;
          border-radius: 10px;
        }
      }

      &-back {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -55%);
        width: 55%;

        .file {
          width: 100%;
          background-color: $red;
          border-radius: 10px;
        }

        .stars {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          height: 100%;
          width: 100%;

          .icon {
            position: absolute;
            transform: translate(-50%, -50%);
          }

          .circle1     { top: 6%;      right: -15%; width: 3%;  animation: icon-shine 1.8s ease-in-out infinite; animation-delay: 0.0s; }
          .circle2     { top: 97%;     left: -9%;   width: 3%;  animation: icon-shine 1.5s ease-in-out infinite; animation-delay: 0.7s; }
          .circle3     { bottom: -25%; left: -30%;  width: 10%; animation: icon-shine 2.5s ease-in-out infinite; animation-delay: 0.2s; }
          .star1       { top: -15%;    left: 70%;   width: 15%; animation: icon-shine 4.0s ease-in-out infinite; animation-delay: 0.5s; }
          .star2       { top: 25%;     right: -15%; width: 6%;  animation: icon-shine 1.5s ease-in-out infinite; animation-delay: 0.1s; }
          .star3       { top: 80%;     left: -15%;  width: 6%;  animation: icon-shine 1.0s ease-in-out infinite; animation-delay: 0.9s; }
          .star4       { bottom: -30%; left: 10%;   width: 6%;  animation: icon-shine 2.5s ease-in-out infinite; animation-delay: 0.6s; }
          .star-empty1 { bottom: -43%; right: -10%; width: 25%; animation: icon-shine 5.0s ease-in-out infinite; animation-delay: 0.4s; }

          @keyframes icon-shine {
            0%   { scale: 1; }
            50%  { scale: 0.8; }
            100% { scale: 1; }
          }
        }
      }
    }
  }
}

.statistics {
  background: linear-gradient(to right, $grey-hover-button, transparent, $grey-hover-button);
  color: $white;
  padding: 10px;

  .data-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: auto;

    .data {
      align-self: center;
      justify-self: center;
      text-align: center;
      font-family: $magistral !important;
      margin: 0;
      font-size: 2.3em;
      padding: 15px 0;

      span {
        font-family: $workSans;
        display: block;
        font-size: 0.4em;
      }
    }
  }
}

.separator {
  position: relative;
  margin: 30px 0 -2px;
  width: 100%;
  height: 5px;
  background: transparent linear-gradient(270deg, #0C1133 0%, #2C2738 14%, #262EBF 30%, #17EF97 48%, #6536A6 64%, #D2196F 80%, #DA3B59 100%) 0% 0% no-repeat padding-box;
}

.info {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  color: $white;

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .image {
      position: relative;
      grid-column: 1;
      grid-row: 1;

      .desktop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        height: 120%;
      }

      .responsive {
        display: none;
      }
    }

    .text {
      grid-column: 2;
      grid-row: 1;
      padding: 100px 0 50px;
      text-align: right;

      h2 {
        font-size: 4em;
        line-height: 1em;
      }

      p {
        font-weight: 300;
      }

      .buttons {

        .button {
          cursor: pointer;
          display: inline-block;
          background-color: $blue-medium;
          border-radius: 8px;
          padding: 10px 20px;
          width: max-content;
          margin: 20px 0;
          font-weight: 400;

          &:first-child {
            margin-right: 20px;
          }

          &:hover {
            background-color: $blue-light;
          }
        }
      }
    }
  }

  .data-wrapper {
    position: relative;

    .data {
      border: 1px solid $blue-medium;
      background-color: $white-transparent-25;
      backdrop-filter: blur(2px);
      padding: 20px;
      border-radius: 8px;

      .pools {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .pool {
          width: 100%;
          align-self: center;
          text-align: center;
          border-right: 1px solid $blue-light;

          &:last-child {
            border-right: unset;
          }

          .title {
            font-size: 0.9em;
          }

          .value {
            color: $blue-light;

            span {
              display: block;
              font-size: 0.9em;
            }
          }
        }
      }
    }

    .stars {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;

      .icon {
        position: absolute;
      }

      .circle1     { bottom: 0; left: 50%;  width: 30px;  transform: translate(0px, 25px); animation: icon-shine 4s ease-in-out infinite; animation-delay: 0.0s; }
      .star1       { top: 0%;   left: 70%;  width: 70px;  transform: translate(0px, -60px); animation: icon-shine 7s ease-in-out infinite; animation-delay: 0.5s; }
      .star2       { top: 25%;  right: 0%;  width: 16px;  transform: translate(13px, 0px); animation: icon-shine 4s ease-in-out infinite; animation-delay: 0.1s; }
      .star-empty1 { top: 100%; left: 0%;   width: 200px; transform: translate(0px, -30px); animation: icon-shine 10s ease-in-out infinite; animation-delay: 0.4s; }
    }
  }
}

.defi {
  max-width: 1200px;
  margin: 150px auto;
  padding: 0 20px;
  color: $white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  .farms,
  .pools {
    position: relative;

    .title {
      position: absolute;
      bottom: calc(100% + 5px);
      left: 5px;
      margin: 0;
    }

    &-table {

      .stake,
      .earn,
      .apr,
      .button {
        align-self: center;
        justify-self: center;
      }

      .apr {
        text-align: left;
        line-height: 1em;

        span {
          display: block;
        }
      }
    }
  }

  .farms {
    border: 1px solid $blue-medium;
    background-color: $white-transparent-25;
    backdrop-filter: blur(2px);
    padding: 5px 10px;
    border-radius: 8px;

    &-table {

      .farm {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 1px solid $blue-light;
        padding: 10px 5px;

        &:last-child {
          border-bottom: unset;
        }

        .stake {}
        .earn {}
        .apr {}

        .button {
          cursor: pointer;
          background-color: $blue-medium;
          border-radius: 8px;
          padding: 5px 15px;
          width: max-content;
          margin: auto;

          &:hover {
            background-color: $blue-light;
          }
        }
      }
    }
  }

  .pools {

    &-table {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      height: 100%;

      .pool {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-self: center;
        height: min-content;
        box-shadow: 0px 0px 11px $blue-light;
        border: 1px solid $blue-light;
        border-radius: 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        padding: 5px;
        color: $black;

        .stake {}
        .apr {}
        .button {
          cursor: pointer;
          background-color: $grey-light;
          border-radius: 8px;
          padding: 5px 15px;
          width: max-content;
          margin: auto;

          &:hover {
            background-color: $blue-extra-light;
          }
        }
      }
    }
  }
}

.benefits {
  position: relative;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  color: $white;

  h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .benefit {
      align-self: center;
      justify-self: center;
      border: 1px solid $red;
      border-radius: 8px;
      background-color: $red-transparent;
      width: 80%;
      max-width: 250px;
      padding: 15px;

      &:first-child { justify-self: start; }
      &:last-child { justify-self: end; }

      .image {
        width: 70px;
      }

      .title {
        font-weight: 500;
        margin: 10px 0 5px;
      }

      .text {
        font-weight: 300;
        font-size: 0.9em;
      }
    }
  }

  .rings {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);

    .image {
      width: 100%;
      transform: translateY(-30%);
    }
  }
}



/*
 * Responsive
 */

// Large devices
@media (max-width: 850px) {
  .slider .card {
    display: block;

    .image {
      display: none;
    }
  }

  .statistics .data-wrapper .data {
    font-size: 1.8em;
  }

  .info .details {
    grid-template-columns: 30% 70%;

    .image .desktop {
      left: unset;
      right: 0%;
      transform: translate(0%, -50%);
    }
  }
}

// Medium devices
@media (max-width: 768px) {
  .statistics .data-wrapper .data {
    font-size: 1.6em;
  }

  .defi {
    grid-template-columns: 1fr;
    grid-gap: 80px 0;
  }

  .benefits {

    &-wrapper {
      grid-template-columns: 1fr;

      .benefit {
        width: calc(100% - 30px);
        max-width: calc(100% - 30px);
        margin: 0 0 30px;
      }
    }
  }
}

// Small devices
@media (max-width: 576px) {
  .slider .card .data {
    .title {
      font-size: 2.7em;
    }

    .description .text {
      font-size: 1em;
    }
  }

  .statistics .data-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .info  {

    .details {
      display: block;
      position: relative;

      .text h2 {
        font-size: 3em;
      }

      .image {
        position: unset;

        .desktop {
          display: none;
        }

        .responsive {
          display: block;
          position: absolute;
          width: 120px;

          &.coin1 {
            bottom: -30px;
            right: 0;
            z-index: -1;
          }

          &.coin2 {
            top: -50px;
            left: 0;
            z-index: 1;
          }
        }
      }

      .text {
        text-align: center;
      }
    }

    .data-wrapper .stars {

      .circle1 {
        left: 70%;
      }

      .star1 {
        left: 35%;
      }
    }
  }

  .info .data-wrapper .data .pools {
    grid-template-columns: 1fr;

    .pool {
      border-right: unset;
      border-bottom: 1px solid #0088FF;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &:last-child {
        border-bottom: unset;
      }

      .title,
      .value {
        align-self: center;
        margin: 0;
        padding: 5px;
      }

      .value {
        align-self: center;

        span {
          display: unset;
          margin-left: 5px;
        }
      }
    }
  }
}
