
  <div *ngIf="!file" [ngClass]="showPool ? 'showPool':'noShowPool'">

    <div class="farm-card">
      <div class="parent">

        <!-- Tokens image block -->
        <div class="div1">
          {{ 'defi.pool.stake' | translate }}&nbsp;{{ pool.stakedTokenSymbol }}
          <div class="s-title">
            <strong>{{ pool.subsidiaryTokenSymbol1 }}&nbsp;-&nbsp;{{ pool.subsidiaryTokenSymbol2 }}</strong>
          </div>
        </div>
        <div class="div2">
          {{ 'defi.pool.earn' | translate}}
          <div class="s-title">{{ pool.rewardTokenSymbol }}</div>
        </div>
        <div class="div3 right">
          <img class="img-icon img-icon-1" [src]="pool.subsidiaryTokenImg1">
          <img class="img-icon img-icon-2" [src]="pool.subsidiaryTokenImg2">
          <img class="img-icon-sub" [src]="pool.rewardTokenImg">
        </div>

        <!-- Reward block -->
        <div class="div4"> <span class="accent">{{pool.rewardTokenSymbol}}</span>&nbsp;{{ 'defi.pool.earned' | translate }}</div>
        <div class="div5"><span *ngIf="pool.pendingRewards && pool.pendingRewards != 0; else noRewards" class="tex-green">{{pool.pendingRewards | number:"1.0-5"}} </span>
          <ng-template #noRewards class="no-reward">{{ 'defi.pool.noReward' | translate }}</ng-template></div>
        <div class="div6 right"><button class="btn btn-secondary" (click)="claimReward()">{{ 'defi.pool.harvest' | translate }}</button></div>

        <!-- Staked block -->
        <div class="div7"><span class="accent accent-max">{{pool.subsidiaryTokenSymbol1}} + {{ pool.subsidiaryTokenSymbol2 }}</span><br><span class="accent">{{ 'defi.pool.staked' | translate }}</span></div>
        <div class="div8">{{pool.staked | number: "1.0-5"}}</div>
        <div class="div9 right">
          <span>APY&nbsp;<mat-icon (click)="apy()">calculate</mat-icon></span>
          <button (click)="deposit()" class="btn btn-accent">{{ 'defi.pool.stakeLP' | translate }}</button>
        </div>

        <!-- Details block-->
        <div class="div10" (click)="showDetails()">
          <span class="hide-arrow">{{ 'defi.pool.details' | translate }}&nbsp;
          <mat-icon class="icon">keyboard_arrow_down</mat-icon></span>
        </div>
        <!-- Ocult Information block -->
    <div class="div11" [ngClass]="showDetDiv !== true? 'container':'container-noShow'">

        <div class="div12">{{ 'defi.pool.totalStaked' | translate }}</div>
        <div class="div13 right">{{ pool.stakedTotal | number: "1.0-5" }}&nbsp;{{ pool.stakedTokenSymbol }}</div>

        <div class="div20">{{pool.subsidiaryTokenName1}}&nbsp;-&nbsp;{{ pool.subsidiaryTokenName2 }}&nbsp;LP</div>
        <div class="div21"><a
          href="https://bscscan.com/token/{{ pool.rewardToken }}"
          target="_blank"> {{ 'defi.pool.view' | translate }}</a></div>
        <div class="div22"><a
          href="https://bscscan.com/token/{{ pool.farm }}#readContract"
          target="_blank"> {{ 'defi.pool.pairInfo' | translate }}</a>
          <div (click)="setTokenOnMetamask(pool.rewardToken, pool.rewardTokenSymbol, pool.rewardTokenDecimals, pool.rewawrdTokenImg)">
            <span>{{ 'defi.pool.add' | translate }}</span>
          </div>
        </div>

    </div>
        <!-- Connect block -->
        <div class="div23">
          <button *ngIf="!isConnected" class="btn btn-withdraw">{{ 'defi.pool.Connect Wallet' | translate }}</button>
          <button *ngIf="isConnected && pool.staked === '0.0' && pool.isApproved" class="btn btn-withdraw" (click)="deposit()">{{ 'defi.pool.Deposit' | translate }}</button>
          <button *ngIf="isConnected && pool.staked !== '0.0' && pool.isApproved" class="btn btn-withdraw" (click)="withdraw()">{{ 'defi.pool.Withdraw' | translate }}</button>
          <button *ngIf="isConnected && !pool.isApproved" class="btn btn-withdraw" (click)="customAllowance()">{{ 'defi.pool.Enable' | translate }}</button>


          <div class="buttons" *ngIf="isConnected">
            <span class="button-allow" (click)="changeAllowance('0')">{{'allowance.revoke' | translate}}</span>
            <span class="button-allow" (click)="customAllowance()">{{'allowance.custom' | translate}}</span>
            <span class="button-allow" (click)="changeAllowance()">{{'allowance.max' | translate}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!--grid inline-->
  <div *ngIf="file" class="inline-grid"  [ngClass]="showPool ? 'showPool':'noShowPool'">
    <div class="farm-list">
      <div class="parent-file">
        <div class="div1">
          {{ 'defi.pool.earn' | translate }}&nbsp;<strong>{{ pool.rewardTokenSymbol }}</strong>
        </div>
        <div class="div2">
          {{ 'defi.pool.stake' | translate }}&nbsp;<strong>{{ pool.subsidiaryTokenSymbol1 }}&nbsp;-&nbsp;{{ pool.subsidiaryTokenSymbol2 }}</strong>

        </div>
        <div class="div3">
          <img class="img-icon img-icon-1" [src]="pool.subsidiaryTokenImg1">
          <img class="img-icon img-icon-2" [src]="pool.subsidiaryTokenImg2">
          <img class="img-icon-sub" [src]="pool.rewardTokenImg">
        </div>
        <div class="div4" *ngIf="isConnected"><span class="accent">{{pool.rewardTokenName }}</span>&nbsp;{{ 'defi.pool.earned' | translate }} </div>
        <div class="div5" *ngIf="isConnected">
          <span class="tex-green" *ngIf="pool.pendingRewards && pool.pendingRewards != 0; else noRewards">{{ pool.pendingRewards | number: "1.0-5" }} </span>
          <ng-template #noRewards>{{ 'defi.pool.noReward' | translate }}</ng-template>
        </div>
        <div class="div6">{{ 'defi.pool.totalStaked' | translate }} </div>
        <div class="div7"><span>{{ pool.stakedTotal | number: "1.0-5" }}&nbsp;{{ pool.subsidiaryTokenSymbol1 }}+{{ pool.subsidiaryTokenSymbol2 }} </span></div>
        <div class="div8" *ngIf="isConnected"><span class="accent accent-max">{{pool.subsidiaryTokenSymbol1}}+{{ pool.subsidiaryTokenSymbol2 }}</span>&nbsp;<span class="accent">{{ 'defi.pool.staked' | translate }}</span></div>
        <div class="div9" *ngIf="isConnected"><span class="tex-green">{{pool.staked | number: "1.0-5"}}</span></div>
        <div class="div10">{{ 'defi.pool.APR' | translate | uppercase }}  </div>
        <div class="div11" (click)="apy()"><mat-icon>calculate</mat-icon></div>
        <div class="div12"  (click)="showDetails()">
          <span class="hide-arrow">{{ 'defi.pool.details' | translate }}&nbsp;
          <mat-icon class="icon">keyboard_arrow_down</mat-icon></span>
        </div>
      </div>
        <div class="div13" [ngClass]="showDetDiv !== true? 'container':'container-noShow'" >
          <div class="div14">
            <div><a
              href="https://bscscan.com/token/{{ pool.rewardToken }}"
              target="_blank" class="link-st"> {{ 'defi.pool.view' | translate }}</a></div>
            <div><a
              href="https://bscscan.com/token/{{ pool.farm }}#readContract"
              target="_blank" class="link-st"> {{ 'defi.pool.pairInfo' | translate }}</a></div>
            <div (click)="setTokenOnMetamask(pool.rewardToken, pool.rewardTokenSymbol, pool.rewardTokenDecimals, pool.rewawrdTokenImg)">
              {{ 'defi.pool.add' | translate }}&nbsp;<img [src]="'assets/images/defi/' + pool.rewardTokenSymbol + '.png'" style="width: 15px;">

            </div>
          </div>
          <div class="div18">
            <span class="accent">{{pool.rewardTokenSymbol}}</span>&nbsp;{{ 'defi.pool.earned' | translate }}
            <div class="div19">
              <span  *ngIf="pool.pendingRewards && pool.pendingRewards != 0; else noRewards" class="tex-green">{{ pool.pendingRewards | number: "1.0-5" }} </span>
              <ng-template #noRewards>{{ 'defi.pool.noReward' | translate }}</ng-template>
              <div class="div20">
                <button class="btn btn-secondary" (click)="claimReward()">{{ 'defi.pool.harvest' | translate }}
                </button>
              </div>
            </div>
          </div>
          <div class="div18">
            <span class="accent accent-max">{{pool.subsidiaryTokenSymbol1}} - {{pool.subsidiaryTokenSymbol2}}</span>&nbsp;<span class="accent">{{ 'defi.pool.staked' | translate }}</span>
            <div class="div19">
              {{pool.staked | number: "1.0-5"}}
              <div class="div20">
                <button (click)="deposit()" class="btn btn-accent">{{ 'defi.pool.stakeLP' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="div24">
            <button *ngIf="!isConnected" class="btn btn-withdraw">{{ 'defi.pool.Connect Wallet' | translate }}</button>
            <button *ngIf="isConnected && pool.staked === '0.0' && pool.isApproved" class="btn btn-withdraw" (click)="deposit()">{{ 'defi.pool.Deposit' | translate }}</button>
            <button *ngIf="isConnected && pool.staked !== '0.0' && pool.isApproved" class="btn btn-withdraw" (click)="withdraw()">{{ 'defi.pool.Withdraw' | translate }}</button>
            <button *ngIf="isConnected && !pool.isApproved" class="btn btn-withdraw" (click)="customAllowance()">{{ 'defi.pool.Enable' | translate }}</button>
            <div class="buttons" *ngIf="isConnected">
              <span class="button-allow" (click)="changeAllowance('0')">{{'allowance.revoke' | translate}}</span>
              <span class="button-allow" (click)="customAllowance()">{{'allowance.custom' | translate}}</span>
              <span class="button-allow" (click)="changeAllowance()">{{'allowance.max' | translate}}</span>
              </div>
          </div>

        </div>
    </div>
  </div>
