<div class="materials">
  <div class="slider" id="material-slider">
    <div *ngFor="let mat of shownMaterials" class="material">
      <img class="image" src="/assets/images/crafting/materials/{{mat.image}}" alt="Material image" />
      <p class="name">{{mat.name}}</p>
      <p class="amount" *ngIf="mat.amount">{{(mat.amount | fromWei | number)?.toLocaleString()}}</p>
      <p class="amount" *ngIf="!mat.amount">-</p>
    </div>
  </div>

  <div *ngIf="movementAvailable" class="arrow prev" (click)="moveSlider(false)">
    <mat-icon class="icon">chevron_left</mat-icon>
  </div>
  <div *ngIf="movementAvailable" class="arrow next" (click)="moveSlider(true)">
    <mat-icon class="icon">chevron_right</mat-icon>
  </div>
</div>
