@import '/src/styleVariables.scss';

.defi {
  max-width: 1200px;
  margin: 150px auto;
  padding: 0 20px;
  color: $white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  .farms,
  .pools {
    position: relative;

    .title {
      position: absolute;
      bottom: calc(100% + 5px);
      left: 5px;
      margin: 0;
    }

    &-table {

      .stake,
      .earn,
      .apr,
      .button {
        align-self: center;
        justify-self: center;
      }

      .apr {
        text-align: left;
        line-height: 1em;

        span {
          display: block;
        }
      }
    }
  }

  .farms {
    border: 1px solid $blue-medium;
    background-color: $white-transparent-25;
    backdrop-filter: blur(2px);
    padding: 5px 10px;
    border-radius: 8px;

    &-table {

      .farm {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 1px solid $blue-light;
        padding: 10px 5px;

        &:last-child {
          border-bottom: unset;
        }

        .button {
          cursor: pointer;
          background-color: $blue-medium;
          border-radius: 8px;
          padding: 5px 15px;
          width: max-content;
          margin: auto;

          &:hover {
            background-color: $blue-light;
          }
        }
      }
    }
  }


  .pools {

    &-table {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      height: 100%;

      .pool {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-self: center;
        height: min-content;
        box-shadow: 0px 0px 11px $blue-light;
        border: 1px solid $blue-light;
        border-radius: 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        padding: 5px;
        color: $black;

        .button {
          cursor: pointer;
          background-color: $grey-light;
          border-radius: 8px;
          padding: 5px 15px;
          width: max-content;
          margin: auto;

          &:hover {
            background-color: $blue-extra-light;
          }
        }
      }
    }
  }
}
.table-pools-row{
  display: flex;
  flex-wrap: wrap;
  width: 62rem;
  justify-content: center;
  border: 1px solid $blue-extra-light;
  // background: $blue-stake-card-background;
  background: #11174669;
  backdrop-filter: blur(5px);

  .cdk-row, .cdk-cell {
    background: transparent;
  }
}
.table-pools-grid{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
  gap: 2rem;
}
.grid{
  gap: 0.6rem;
}
.pool-container{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
