@import '/src/styleVariables.scss';

.nft-card {
  cursor: pointer;
  background: $grey-extra-dark;
  padding: 10px;
  border-radius: 10px;
  color: $white;
  max-width: 200px;
  backdrop-filter: blur(3px);

  &:hover {
    transform: scale(1.01);
  }

  .image {
    position: relative;
    text-align: center;
    height: 200px;
    width: 200px;

    .nft {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 15px;
    }
    .nft-back{
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      border-radius: 15px;

    }
    .feline{
      background-image: url('/assets/images/partnership/hashapon/feline.svg');
    }
    .ursid{
      background-image: url('/assets/images/partnership/hashapon/ursid.svg');
    }
    .bird{
      background-image: url('/assets/images/partnership/hashapon/bird.svg');
    }
    .canid{
      background-image: url('/assets/images/partnership/hashapon/canid.svg');
    }
    
    .countdown {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 100%;
      text-align: center;
      color: $white;
      border-radius: 10px;
      padding: 5px;
      width: 100px;
      background: $green;

      &.ended {
        background: $red;
      }
    }
  }

  .data {

    .name {
      position: relative;
      margin: 15px 0 5px 0;

      h2 {
        text-align: center;
        font-size: 1rem;
        line-height: 1em;
        margin: 20px auto;
      }
    }

    .ownership {
      padding: 5px 0;

      .image {
        display: inline-block;
        margin-right: 10px;
        width: 30px;
        height: 30px;

        img {
          width: 100%;

          &.custom {
            background: white;
            border-radius: 15%;
            background-image: url('/assets/images/blog_background.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      .data {
        display: inline-block;

        p {
          margin: 0;
        }

        .title {
          font-size: 0.9em;
          font-weight: 300;
        }

        .owner {
          font-weight: 500;
        }
      }

      &:hover {

        .data {
          color: $blue-extra-light;
        }
      }
    }

    .price {
      padding: 5px 0;
      height: 50px;
      border-top-width: 1px;
      border-top-style: solid;
      border-image: linear-gradient(to right, transparent, $white, transparent) 100% 1;

      p {
        margin: 0;
      }

      .title {
        font-size: 0.9em;
        font-weight: 300;
      }

      .value {
        font-weight: 500;

        .conversion {
          white-space: nowrap;
          font-size: 0.8em;
          font-weight: 300;
        }
      }
    }
  }
}
