<div class="content">
  <h1>{{"privacyPolicy.p01" | translate}}</h1>
  <p>{{"privacyPolicy.p02" | translate}}</p>

  <ul>
    <li>{{"privacyPolicy.p03" | translate}}</li>
    <li>{{"privacyPolicy.p04" | translate}}</li>
    <li>{{"privacyPolicy.p05" | translate}}</li>
    <li>{{"privacyPolicy.p06" | translate}}</li>
    <li>{{"privacyPolicy.p07" | translate}}</li>
    <li>{{"privacyPolicy.p08" | translate}}</li>
    <li>{{"privacyPolicy.p09" | translate}}</li>
    <li>{{"privacyPolicy.p10" | translate}}</li>
  </ul>

  <br>
  <p>{{"privacyPolicy.p11" | translate}}</p>
  <p>{{"privacyPolicy.p12" | translate}}</p>
  <br>
  <p>{{"privacyPolicy.p13" | translate}}</p>
  <p>{{"privacyPolicy.p14" | translate}}</p>
  <br>
  <p>{{"privacyPolicy.p15" | translate}}</p>
  <p>{{"privacyPolicy.p16" | translate}}</p>
  <br>
  <p>{{"privacyPolicy.p17" | translate}}</p>
  <p>{{"privacyPolicy.p18" | translate}}</p>
  <br>
  <p>{{"privacyPolicy.p19" | translate}}</p>
  <p>{{"privacyPolicy.p20" | translate}}</p>
  <br>
  <p>{{"privacyPolicy.p21" | translate}}</p>
  <p>{{"privacyPolicy.p22" | translate}}</p>

  <h2>{{"privacyPolicy.p23" | translate}}</h2>
  <p>
    {{"privacyPolicy.p24" | translate}}
    <a href="https://dapp.outerringmmo.com/cookiePolicy" target="_blank">https://dapp.outerringmmo.com/cookiePolicy</a>
  </p>

  <h2>{{"privacyPolicy.p25" | translate}}</h2>
  <p>{{"privacyPolicy.p26" | translate}}</p>
  <p>{{"privacyPolicy.p27" | translate}}</p>
  <br>
  <p>{{"privacyPolicy.p28" | translate}}</p>
  <p>{{"privacyPolicy.p29" | translate}}</p>
  <br>
  <p>{{"privacyPolicy.p30" | translate}}</p>
  <p>{{"privacyPolicy.p31" | translate}}</p>
  <p>{{"privacyPolicy.p32" | translate}}</p>
  <p>{{"privacyPolicy.p33" | translate}}</p>
  <p>{{"privacyPolicy.p34" | translate}}</p>

  <h2>{{"privacyPolicy.p35" | translate}}</h2>
  <p>{{"privacyPolicy.p36" | translate}}</p>
  <p>{{"privacyPolicy.p37" | translate}}</p>
  <p>{{"privacyPolicy.p38" | translate}}</p>
  <p>{{"privacyPolicy.p39" | translate}}</p>
  <p>{{"privacyPolicy.p40" | translate}}</p>
  <p>{{"privacyPolicy.p41" | translate}}</p>

  <h2>{{"privacyPolicy.p42" | translate}}</h2>

  <p>{{"privacyPolicy.p43" | translate}}</p>
  <p>{{"privacyPolicy.p44" | translate}}</p>
  <p>{{"privacyPolicy.p45" | translate}}</p>
  <p>{{"privacyPolicy.p46" | translate}}</p>

  <h2>{{"privacyPolicy.p47" | translate}}</h2>
  <p>{{"privacyPolicy.p48" | translate}}</p>
  <p>{{"privacyPolicy.p49" | translate}}</p>
  <p>{{"privacyPolicy.p50" | translate}}</p>
</div>
