<div class="content">
  <h1>{{'cookies.c01' | translate}}</h1>

  <h2>{{'cookies.c02' | translate}}</h2>
  <p>{{'cookies.c03' | translate}}</p>

  <h2>{{'cookies.c04' | translate}}</h2>
  <ul>
    <li><b>{{'cookies.c05' | translate}}</b>{{'cookies.c06' | translate}}</li>
    <li><b>{{'cookies.c07' | translate}}</b>{{'cookies.c08' | translate}}</li>
    <li><b>{{'cookies.c09' | translate}}</b>{{'cookies.c10' | translate}}</li>
    <li><b>{{'cookies.c11' | translate}}</b>{{'cookies.c12' | translate}}</li>
    <li><b>{{'cookies.c13' | translate}}</b>{{'cookies.c14' | translate}}</li>
  </ul>

  <h2>{{'cookies.c15' | translate}}</h2>
  <table>
    <tr>
      <th>{{'cookies.c16' | translate}}</th>
      <th>{{'cookies.c17' | translate}}</th>
      <th>{{'cookies.c18' | translate}}</th>
      <th>{{'cookies.c19' | translate}}</th>
      <th>{{'cookies.c20' | translate}}</th>
    </tr>
    <tr>
      <td>{{'cookies.c21' | translate}}</td>
      <td>{{'cookies.c22' | translate}}</td>
      <td>{{'cookies.c23' | translate}}</td>
      <td>{{'cookies.c24' | translate}}</td>
      <td>{{'cookies.c25' | translate}}</td>
    </tr>
    <tr>
      <td>{{'cookies.c26' | translate}}</td>
      <td>{{'cookies.c27' | translate}}</td>
      <td>{{'cookies.c28' | translate}}</td>
      <td>{{'cookies.c29' | translate}}</td>
      <td>{{'cookies.c30' | translate}}</td>
    </tr>
    <tr>
      <td>{{'cookies.c31' | translate}}</td>
      <td>{{'cookies.c32' | translate}}</td>
      <td>{{'cookies.c33' | translate}}</td>
      <td>{{'cookies.c34' | translate}}</td>
      <td>{{'cookies.c35' | translate}}</td>
    </tr>
    <tr>
      <td>{{'cookies.c36' | translate}}</td>
      <td>{{'cookies.c37' | translate}}</td>
      <td>{{'cookies.c38' | translate}}</td>
      <td>{{'cookies.c39' | translate}}</td>
      <td>{{'cookies.c40' | translate}}</td>
    </tr>
  </table>

  <h2>{{'cookies.c41' | translate}}</h2>
  <p>{{'cookies.c42' | translate}}</p>

  <p>{{'cookies.c43' | translate}}</p>
  <ul>
    <li>{{'cookies.c44' | translate}} <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">https://support.google.com/chrome/answer/95647?hl=en</a></li>
    <li>{{'cookies.c45' | translate}} <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></li>
    <li>{{'cookies.c46' | translate}} <a href="http://windows.microsoft.com/en-en/internet-explorer/delete-manage-cookies" target="_blank">http://windows.microsoft.com/en-en/internet-explorer/delete-manage-cookies</a></li>
    <li>{{'cookies.c47' | translate}} <a href="https://support.apple.com/en-en/HT201265" target="_blank">https://support.apple.com/en-en/HT201265</a></li>
    <li>{{'cookies.c48' | translate}} <a href="https://www.opera.com/help/tutorials/security/privacy/" target="_blank">https://www.opera.com/help/tutorials/security/privacy/</a></li>
  </ul>
</div>
