@import '/src/styleVariables.scss';
@import '/src/app/pages/missions/missionsStyleVariables.scss';

.content {
    
  .level {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    margin-bottom: 5rem;
    justify-content: space-around;

    .title {
      position: relative;
      width: 100%;
      border-bottom: 1px solid $white;
      text-align: center;

      h3 {
        text-transform: uppercase;
        font-family: $magistral !important;
        font-size: 1.5rem;
        line-height: 1em;
        margin: 0.5rem;
      }

      .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 35px;
        width: 35px;
        font-size: 35px;

        &.prev {
          left: 0;
          padding: 1rem 2rem 1rem 0;
        }

        &.next {
          right: 0;
          padding: 1rem 0 1rem 2rem;
        }
      }
    }
  }
}
