
// COLORS
$white: #ffffff;
$white-transparent-90: #ffffff90;
$white-transparent-60: #ffffff60;
$white-transparent-25: #ffffff25;
$white-transparent-10: #ffffff10;

$black: #000000;
$black-transparent-90: #00000090;
$black-transparent-60: #00000060;
$black-transparent-25: #00000025;
$black-transparent-10: #00000010;

$grey-semi-dark: #444444;
$grey: #666666;
$grey-extra-light: #cfcfcf;

$grey-hover-button: #55555555;
$grey-extra-dark: #222222;
$grey-dark: #363636;
$grey-semi-dark: #444444;
$grey: #7e7e7e;
$grey-semi-light: #8f8f8f;
$grey-light: #bbbbbb;
$grey-extra-light: #cfcfcf;

$resposiveMenu: #33354d;

$blue-black: #010110;
$blue-header: #04071ae8;
$blue-extra-dark: #0d0f1e;
$blue-dark: #0C1133;
$blue-semi-dark: #111A58;
$blue-medium: #262EBF;
$blue-medium-transparent-25: #262EBF25;
$blue-light: #0088FF;
$blue-extra-light: #3BD5F8;
$blue-tiptool: #afebff;
$blue-card-background: #1a3341;
$blue-stake-card-background: #111746;
$blue-tab-active: #1e4257;
$blue-dex-accent: #2ECEF2;
$blue-dex-secondary: #273188;
$blue-dex-accent-trans: #2ECEF24F;
$blue-dice: #2675b9;
$blue-light-transparent: #74c7ff66;

$nft-image-background: #18252c;


$green: #00a95b;
$green-light: #51ee94;
$green-dark: #08301b;

$red-transparent: #DA3B5933;
$red: #DA3B59 ;
$red-error: #ff3838;
$red-semi-dark: #971010;
$red-dark: #380202;

$purple: #6536A6;
$purple-dark: #520066;

$pink: #D2196F;
$pink-light: #ff439a;

$yellow: #FFEE00;
$light-yellow: #FFEA57;

$orange: #FFA500;

// RARITIES
$common: #afafaf;
$uncommon: #43c600;
$rare: #40bbf9;
$epic: #cf05ff;
$legendary: #f9ba00;

// FONTS
$workSans: 'Work Sans', sans-serif;
$magistral: 'magistral', sans-serif;

// Materials
$blue-material: #18F4FF;
$green-material: #64DA12;
$purple-material: #D34CF8;
$yellow-material: #F5E92D;
$blue-material-10: #18F4FF10;
$green-material-10: #64DA1210;
$purple-material-10: #D34CF810;
$yellow-material-10: #F5E92D10;
