@import '/src/styleVariables.scss';

.content {
  color: $white;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;

  &.connect {
    font-size: 1.1rem;
    text-align: center;
    margin: 30px auto 100px;

    .tabs {
      margin-bottom: 100px;
    }

    p {
      margin: 40px 0;
    }

    .button {
      cursor: pointer;
      display: inline-block;
      background: linear-gradient(to right, $blue-medium, $blue-semi-dark);
      margin: 40px 10px;
      width: max-content;
      padding: 7px 40px;
      border-radius: 15px;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2em;

      &:hover {
        background: linear-gradient(to right, $pink, #520066);
      }
    }
  }

  h2 {
    font-family: $magistral !important;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 0;

    .tab {
      cursor: pointer;
      align-self: center;
      text-align: center;
      margin: 0;
      color: $grey;
      border-bottom: 2px solid $grey;
      font-size: 1.2rem;

      &.active {
        cursor: default;
        color: $white;
        border-bottom: 2px solid $pink;
      }
    }
  }

  .step {

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 50px 30px;
    }
  }
}

.discount {
  background-color: $blue-medium;
  color: $white;
  text-align: center;
  padding: 15px;

  p {
    max-width: 1200px;
    margin: auto;
    font-size: 1rem;
    line-height: 1em;

    &.link span {
      cursor: pointer;
      text-decoration: underline;
      color: $pink-light;
      font-weight: 600;
      font-size: 1.1rem;
    }

    &.tip {
      font-size: 0.8rem;
      margin: 10px auto 0;
      font-style: italic;
      font-weight: 300;
    }
  }
}

.tips {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $blue-medium;
  border-top: 1px solid $white;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 15px;
  color: $white;

  p {
    margin: 0;
  }

  .stage {
    align-self: center;
    padding-left: 10px;
  }

  .info {
    align-self: center;
    text-align: center;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;

    p {
      align-self: center;
      text-align: center;
      grid-column: 1;
      grid-row: 1;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

      &.disabled {
        position: relative;
        opacity: 0;
        transform: scale(0);

        &.active {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .next {
    align-self: center;
    cursor: pointer;
    padding: 10px;

    span, .icon {
      vertical-align: middle;
    }
  }
}

// Small devices
@media (max-width: 576px) {

  .tips {
    grid-template-columns: 1fr;
    gap: 0;

    .stage {
      font-size: 0.7rem;
      font-weight: 300;
    }

    .info {
      margin: 5px 0;

      p {
        font-size: 0.8rem;
        line-height: 1em;
        padding: 0 10px;
      }
    }

    .next {
      font-size: 0.7rem;
      font-weight: 300;
      width: max-content;
      justify-self: right;
      padding: 0;
    }
  }
}

