<div class="content connect" *ngIf="walletIsConnected === false">
  <h2>{{'crafting.craftingFactory' | translate}}</h2>
  <div class="tabs">
    <span class="tab" [class.active]="selectedStep === 'creation'" (click)="changeSelectedStep('creation')">{{'crafting.creation' | translate}}</span>
    <span class="tab" [class.active]="selectedStep === 'styling'" (click)="changeSelectedStep('styling')">{{'crafting.styling' | translate}}</span>
    <span class="tab" [class.active]="selectedStep === 'assembly'" (click)="changeSelectedStep('assembly')">{{'crafting.assembly' | translate}}</span>
  </div>
  <p>{{'crafting.connectWallet1' | translate}}</p>
  <p>{{'crafting.connectWallet2' | translate}}</p>
  <p (click)="connectionService.openModal()" class="button">{{'crafting.connectWallet' | translate}}</p>
</div>

<div class="content" *ngIf="walletIsConnected === true" style="padding: 50px 20px 20px;">
  <h2>{{'crafting.craftingFactory' | translate}}</h2>
</div>

<div *ngIf="walletIsConnected === true" class="discount">
  <ng-container *ngIf="discounts.cost > 0 || discounts.time > 0">
    <p>{{('crafting.discount' | translate).replace('***', discounts.cost).replace('###', discounts.time)}}</p>
  </ng-container>
  <ng-container *ngIf="discounts.cost === 0 && discounts.time === 0">
    <p class="link" ><span [routerLink]="['/lands/materialExtraction']">{{'crafting.getDiscount1' | translate}}</span> {{'crafting.getDiscount2' | translate}}</p>
  </ng-container>
  <p class="tip">*{{'crafting.discountTip' | translate}}</p>
</div>

<div class="content" *ngIf="walletIsConnected === true" style="padding: 20px;">
  <div class="tabs">
    <span class="tab" [class.active]="selectedStep === 'creation'" (click)="changeSelectedStep('creation')">{{'crafting.creation' | translate}}</span>
    <span class="tab" [class.active]="selectedStep === 'styling'" (click)="changeSelectedStep('styling')">{{'crafting.styling' | translate}}</span>
    <span class="tab" [class.active]="selectedStep === 'assembly'" (click)="changeSelectedStep('assembly')">{{'crafting.assembly' | translate}}</span>
  </div>


  <!-- FIRST STEP: CREATION -->
  <div class="step" *ngIf="selectedStep === 'creation'">
    <div class="cards">
      <app-crafting-card [step]="1" [pool]="0" [discounts]="discounts"></app-crafting-card>
      <app-crafting-card [step]="1" [pool]="1" [discounts]="discounts"></app-crafting-card>
      <app-crafting-card [step]="1" [pool]="2" [discounts]="discounts"></app-crafting-card>
    </div>
  </div>
  <!-- SECOND STEP: STYLING -->
  <div class="step" *ngIf="selectedStep === 'styling'">
    <div class="cards">
      <app-crafting-card [step]="2" [pool]="0" [discounts]="discounts"></app-crafting-card>
      <app-crafting-card [step]="2" [pool]="1" [discounts]="discounts"></app-crafting-card>
      <app-crafting-card [step]="2" [pool]="2" [discounts]="discounts"></app-crafting-card>
    </div>
  </div>
  <!-- THIRD STEP: ASSEMBLY -->
  <div class="step" *ngIf="selectedStep === 'assembly'">
    <div class="cards">
      <app-crafting-card [step]="3" [pool]="0" [discounts]="discounts"></app-crafting-card>
      <app-crafting-card [step]="3" [pool]="1" [discounts]="discounts"></app-crafting-card>
      <app-crafting-card [step]="3" [pool]="2" [discounts]="discounts"></app-crafting-card>
    </div>
  </div>
</div>

<div style="max-width: 1200px; margin: 50px auto;">
  <p style="color: white; margin: 0 auto; text-align: center;">{{'crafting.materials' | translate}}:</p>
  <app-material-viewer [color]="'blue'"></app-material-viewer>
</div>

<div class="tips">
  <ng-container *ngFor="let step of ['creation', 'styling', 'assembly']; let i = index">
    <ng-container *ngIf="selectedStep === step">
      <p class="stage">{{'crafting.' + step + 'Tip' | translate}} {{visibleTip}}: </p>

      <div class="info">
        <p class="disabled" [class.active]="visibleTip === 1">{{'crafting.step' + (i + 1) + 'tip1' | translate}}</p>
        <p class="disabled" [class.active]="visibleTip === 2">{{'crafting.step' + (i + 1) + 'tip2' | translate}}</p>
        <p class="disabled" [class.active]="visibleTip === 3">{{'crafting.step' + (i + 1) + 'tip3' | translate}}</p>
        <p class="disabled" [class.active]="visibleTip === 4">{{'crafting.step' + (i + 1) + 'tip4' | translate}}</p>
        <p class="disabled" [class.active]="visibleTip === 5">{{'crafting.step' + (i + 1) + 'tip5' | translate}}</p>
      </div>

      <p class="next" (click)="changeVisibleTip()">
        <span>{{'crafting.nextTip' | translate}}</span>
        <mat-icon class="icon">arrow_right</mat-icon>
      </p>
    </ng-container>
  </ng-container>
</div>
